In [1]:
import pandas as pd

In [3]:
df_pregao = pd.read_csv('ajustes_do_pregao.csv')
df_pregao

,Mercadoria,Vencimento,Preço de ajuste anterior,Preço de ajuste Atual,Variação,Valor do ajuste por contrato (R$)
0,ABEVO - Contrato Futuro de ABEV3,F25,"11,21","11,40","0,19","0,19"
1,AFS - Rande da África do Sul (em USD),G25,"18.968,000","18.791,500","-176,500","566,68"
2,ARB - Peso Argentino (em Reais),G25,"5,7740","5,7520","-0,0220","3,30"
3,ARS - Peso Argentino (em USD),G25,"1.051.438,0000","1.050.770,1000","-667,9000","38,67"
4,AUD - Dólar Australiano (em Reais),G25,"3.756,5650","3.760,4620","3,8970","233,82"
...,...,...,...,...,...,...
82,WEU - EURO MÍNI,G25,"6.256,9020","6.224,9770","-31,9250","319,25"
83,WIN - Ibovespa Mini,G25,120.272,123.673,3.401,"680,20"
84,WSP - Microcontrato Futuro de S&P 500,H25,"5.880,75","5.992,50","111,75","1.683,12"
85,XFI - Futuro de IFIX,G25,"3.148,10","3.174,30","26,20","262,00"
86,ZAR - Rande da África do Sul (em Reais),G25,"3.200,5090","3.216,2240","15,7150","550,02"

In [11]:
file_bbg = 'BBG - ECO DASH.xlsx'
#Pular primeira linha, primeira coluna, e ir até a linha 23
df = pd.read_excel(file_bbg, sheet_name='DIV01',
                skiprows=1, usecols='E:F', nrows=21)
df = df.T
columns = [
    'DI_26', 'DI_27', 'DI_28', 'DI_29', 'DI_30',
    'DI_31', 'DI_32', 'DI_33', 'DI_35', 'DAP25', 'DAP26', 'DAP27',
    'DAP28', 'DAP30', 'DAP32', 'DAP35', 'DAP40', 'WDO1', 'TREASURY', 'IBOV','S&P'
]
df.columns = columns
#dropar a primeira linha
df = df.drop(df.index[0])

df['TREASURY'] = df['TREASURY'] * df_precos['WDO1']

,DI_26,DI_27,DI_28,DI_29,DI_30,DI_31,DI_32,DI_33,DI_35,DAP25,...,DAP27,DAP28,DAP30,DAP32,DAP35,DAP40,WDO1,TREASURY,IBOV,S&P
FUT_TICK_VAL,3.656645,6.425933,8.453332,9.856559,10.767786,22.591689,23.073393,23.132853,22.299791,5.336401,...,32.009058,44.741295,60.495845,70.822651,79.86987,85.577013,5.0,1.0,5.0,0.625