In [1]:
import pandas as pd

In [2]:
df_global = pd.read_csv('GLOBAL BONDS.csv')
df_global

                Ativo  Rendimento  Preco_Compra     2025-01-20
0                 NaN         NaN           NaN  R$119,184,460
1     Contratos DI_33         NaN           NaN             -2
2      Contratos WDO1         NaN           NaN              1
3  Contratos TREASURY         NaN           NaN              0

In [3]:
df_jera2026 = pd.read_csv('JERA2026.csv')
df_jera2026

                Ativo  Rendimento  Preco_Compra     2025-01-20
0                 NaN         NaN           NaN  R$382,295,388
1     Contratos DI_33         NaN           NaN             -8
2      Contratos WDO1         NaN           NaN              3
3  Contratos TREASURY         NaN           NaN              1

In [3]:
df_pregao = pd.read_csv('ajustes_do_pregao.csv')
df_pregao

,Mercadoria,Vencimento,Preço de ajuste anterior,Preço de ajuste Atual,Variação,Valor do ajuste por contrato (R$)
0,ABEVO - Contrato Futuro de ABEV3,F25,"11,21","11,40","0,19","0,19"
1,AFS - Rande da África do Sul (em USD),G25,"18.968,000","18.791,500","-176,500","566,68"
2,ARB - Peso Argentino (em Reais),G25,"5,7740","5,7520","-0,0220","3,30"
3,ARS - Peso Argentino (em USD),G25,"1.051.438,0000","1.050.770,1000","-667,9000","38,67"
4,AUD - Dólar Australiano (em Reais),G25,"3.756,5650","3.760,4620","3,8970","233,82"
...,...,...,...,...,...,...
82,WEU - EURO MÍNI,G25,"6.256,9020","6.224,9770","-31,9250","319,25"
83,WIN - Ibovespa Mini,G25,120.272,123.673,3.401,"680,20"
84,WSP - Microcontrato Futuro de S&P 500,H25,"5.880,75","5.992,50","111,75","1.683,12"
85,XFI - Futuro de IFIX,G25,"3.148,10","3.174,30","26,20","262,00"
86,ZAR - Rande da África do Sul (em Reais),G25,"3.200,5090","3.216,2240","15,7150","550,02"

In [11]:
file_bbg = 'BBG - ECO DASH.xlsx'
#Pular primeira linha, primeira coluna, e ir até a linha 23
df = pd.read_excel(file_bbg, sheet_name='DIV01',
                skiprows=1, usecols='E:F', nrows=21)
df = df.T
columns = [
    'DI_26', 'DI_27', 'DI_28', 'DI_29', 'DI_30',
    'DI_31', 'DI_32', 'DI_33', 'DI_35', 'DAP25', 'DAP26', 'DAP27',
    'DAP28', 'DAP30', 'DAP32', 'DAP35', 'DAP40', 'WDO1', 'TREASURY', 'IBOV','S&P'
]
df.columns = columns
#dropar a primeira linha
df = df.drop(df.index[0])

df['TREASURY'] = df['TREASURY'] * df_precos['WDO1']

In [19]:
df = pd.read_csv('df_preco_de_ajuste_atual.csv')
df

      Assets  2025-01-17
0      DAP25   98.711,42
1      DAP26   88.827,83
2      DAP27   84.345,68
3      DAP28   76.566,03
4      DAP29   72.600,59
5      DAP30   66.220,66
6      DAP32   57.058,48
7      DAP33   54.408,02
8      DAP35   47.170,64
9      DAP40   33.203,46
10     DAP45   23.449,18
11     DAP50   16.156,86
12     DAP55   11.593,78
13     DAP60    7.955,57
14    DAP_25         NaN
15    DAP_26         NaN
16    DAP_27         NaN
17    DAP_28         NaN
18    DAP_29         NaN
19    DAP_30         NaN
20    DAP_32         NaN
21    DAP_33         NaN
22    DAP_35         NaN
23    DAP_40         NaN
24    DAP_45         NaN
25    DAP_50         NaN
26    DAP_55         NaN
27    DAP_60         NaN
28     DI_26   87.508,82
29     DI_27   75.941,34
30     DI_28   66.059,28
31     DI_29   57.656,34
32     DI_30   50.287,21
33     DI_31   43.811,31
34     DI_32   38.199,22
35     DI_33   33.425,87
36     DI_34   29.350,19
37     DI_35   25.734,23
38     DI_36   22.648,41
39     DI_37   19.940,72
40     DI_38   17.601,41
41     DI_39   15.197,44
42     DI_40   13.274,70
43  TREASURY    108,6093
44      WDO1  6.081,5680

In [8]:
import os
import pandas as pd
import datetime
import numpy as np

In [9]:

def processar_b3_portifolio():
    """
    Exemplo de função que carrega dois dataframes de CSV:
     - df_preco_de_ajuste_atual.csv : preços de fechamento (colunas de datas)
     - df_variacao.csv : variação diária dos ativos (colunas de datas)
    """
    df_b3_fechamento = pd.read_csv("df_preco_de_ajuste_atual.csv")  
    # df_b3_fechamento possui colunas: ['Ativo', '17/01/2025', '18/01/2025', ...]
    
    df_b3_variacao = pd.read_csv("df_variacao.csv")
    # df_b3_variacao possui colunas: ['Ativo', '17/01/2025', '18/01/2025', ...]
    #Tirar o pontos das casas de milhar
    df_b3_fechamento = df_b3_fechamento.replace('\.', '', regex=True)
    df_b3_variacao = df_b3_variacao.replace('\.', '', regex=True)

    #Trocar Virgula por Ponto
    df_b3_fechamento = df_b3_fechamento.replace(',', '.', regex=True)
    df_b3_variacao = df_b3_variacao.replace(',', '.', regex=True)
    print(df_b3_fechamento)
    #Converter para Float menos a primeira coluna
    df_b3_fechamento.iloc[:, 1:] = df_b3_fechamento.iloc[:, 1:].astype(float)
    df_b3_variacao.iloc[:, 1:] = df_b3_variacao.iloc[:, 1:].astype(float)
    #Printar o tipo das colunas
    print(df_b3_fechamento.dtypes)
    print(df_b3_variacao.dtypes)
    
    return df_b3_fechamento, df_b3_variacao

assets = ['DAP28', 'DI_31','WDO1', 'TREASURY']
quantidades = [2, 1, 1, 1]
compra_especifica = {'DAP28': 5.5, 'TREASURY': 105.5}

dia_compra = {'DAP28': '2025-01-17', 'DI_31': '2025-01-17', 'WDO1':'2025-01-17', 'TREASURY': '2025-01-17'}


def checkar_portifolio(assets, 
                       quantidades, 
                       compra_especifica,  # dict { 'PETR4': 200, 'VALE3': 150 } etc.
                       dia_compra,         # pode ser dict { 'PETR4': '17/01/2025', 'VALE3': '16/01/2025' } ou string única
                       df_b3_fechamento, 
                       df_b3_variacao):
    """
    Verifica (ou cria) um CSV de portfólio e atualiza as posições de acordo com:
      1) Lista de ativos (assets) e suas quantidades (quantidades).
      2) Dicionário de compra_especifica (caso o usuário tenha quantidades específicas para algum ativo).
      3) Dia de compra, que pode ser um único valor ou um dicionário.
      4) Atualiza Preço de Compra, Preço de Ajuste Atual, Variação e Rendimento.
    """
    
    nome_arquivo_portifolio = 'portifolio_posições.csv'
    
    # 1) Carrega portfólio existente (se existir)
    if os.path.exists(nome_arquivo_portifolio):
        df_portifolio = pd.read_csv(nome_arquivo_portifolio, index_col=0)
    else:
        # Podemos criar um DataFrame com colunas definidas para evitar problemas de colunas inexistentes
        df_portifolio = pd.DataFrame(columns=[
            'Quantidade', 
            'Dia de Compra', 
            'Preço de Compra', 
            'Preço de Ajuste Atual', 
            'Variação de Taxa', 
            'Rendimento'
        ])
    
    # 2) Remover do DataFrame os ativos que NÃO estão na nova lista de assets
    #    (significa que o usuário removeu aquele ativo do portfólio)
    ativos_existentes = df_portifolio.index.tolist()
    for ativo_em_port in ativos_existentes:
        if ativo_em_port not in assets:
            df_portifolio.drop(index=ativo_em_port, inplace=True)
    # 3) Adicionar ou atualizar as quantidades dos ativos que estão na nova lista
    #    Se há compra_especifica, ela sobrescreve a quantidade
    #    Também atualizamos o 'Dia de Compra' se fornecido
    for asset, qtd_user in zip(assets, quantidades):
        

        qtd_final = qtd_user
        
        # Verifica se o dia_compra é dict ou valor único
        if isinstance(dia_compra, dict):
            dia_de_compra_atual = dia_compra.get(asset, None)
        else:
            # Se dia_compra for apenas uma string (valor único)
            dia_de_compra_atual = dia_compra
        if asset not in df_portifolio.index:
            # Se não existe, cria linha nova
            df_portifolio.loc[asset, 'Quantidade'] = qtd_final
            df_portifolio.loc[asset, 'Dia de Compra'] = dia_de_compra_atual
        else:
            # Se já existe, apenas atualiza
            df_portifolio.loc[asset, 'Quantidade'] = qtd_final
            # Se dia_compra foi passado como dict e existe valor pra esse ativo, atualiza

            if dia_de_compra_atual is not None:
                df_portifolio.loc[asset, 'Dia de Compra'] = dia_de_compra_atual

    # 4) Para cada ativo no DataFrame final, calculamos
    #    - Preço de Compra (com base em df_b3_fechamento na data de compra)
    #    - Preço de Ajuste Atual (com base em df_b3_fechamento na data de hoje)
    #    - Variação de Taxa (com base em df_b3_variacao na data de compra ou acumulada, depende da necessidade)
    #    - Rendimento (Quantidade * (Preço de Ajuste Atual - Preço de Compra)) ou vice-versa
    
    # Monta a string da data de hoje no mesmo formato das colunas do CSV
    # As colunas do CSV podem estar em formato "dd/mm/yyyy" ou "yyyy-mm-dd", dependendo de como foi salvo
    # Ajuste conforme a forma em que foram salvas:

    ############################## ---- PROBLEMA ---- ##############################
    #  
    data_hoje_str = datetime.date.today().strftime('%Y-%m-%d')

    for asset in df_portifolio.index:
        try:
            # Dia de compra que foi salvo
            dia_compra_ativo = df_portifolio.loc[asset, 'Dia de Compra']
            # (Opcional) se for "yyyy-mm-dd", converter para "dd/mm/yyyy" para casar com o CSV
            # Caso já esteja no formato correto, você pode pular esta conversão.
            # Exemplo (caso precise):
            # dia_compra_dt = datetime.datetime.strptime(dia_compra_ativo, '%Y-%m-%d')
            # dia_compra_ativo = dia_compra_dt.strftime('%d/%m/%Y')

            # PREÇO DE COMPRA
            # Localiza a linha do ativo e depois pega o valor na coluna da data de compra
            filtro_ativo = (df_b3_fechamento['Assets'] == asset)

            # Se o usuário informou um valor de compra_especifica para este ativo, sobrescreve
            if compra_especifica and (asset in compra_especifica):
                preco_compra = compra_especifica[asset]
                print(preco_compra)
            else:
                preco_compra = df_b3_fechamento.loc[filtro_ativo, dia_compra_ativo].values[0]
                print(preco_compra)
                print(df_b3_fechamento.loc[filtro_ativo, dia_compra_ativo].values[0])

            df_portifolio.loc[asset, 'Preço de Compra'] = preco_compra

            


            # PREÇO DE AJUSTE ATUAL
            # Usa a data de hoje (coluna de hoje) no df_b3_fechamento
            preco_ajuste_atual = df_b3_fechamento.loc[filtro_ativo, data_hoje_str].values[0]
            df_portifolio.loc[asset, 'Preço de Ajuste Atual'] = preco_ajuste_atual
            
            # VARIAÇÃO DE TAXA
            # Depende se você quer pegar a variação apenas do dia_compra_ativo ou a variação acumulada.
            # Abaixo apenas um exemplo de pegar a variação no dia de compra (ou outro critério)
            filtro_variacao = (df_b3_variacao['Assets'] == asset)
            variacao_taxa = df_b3_variacao.loc[filtro_variacao, dia_compra_ativo].values[0]
            df_portifolio.loc[asset, 'Variação de Taxa'] = variacao_taxa
            
            # RENDIMENTO
            # De acordo com seu snippet original, mas usualmente seria (Preço Atual - Preço Compra).
            df_portifolio.loc[asset, 'Rendimento'] = (
                df_portifolio.loc[asset, 'Quantidade'] * 
                (df_portifolio.loc[asset, 'Preço de Ajuste Atual'] - df_portifolio.loc[asset, 'Preço de Compra'])
            )
            
        except Exception as e:
            # Caso alguma coluna não seja encontrada ou dê erro, você pode tratar aqui
            print(f"[*] Erro ao calcular valores para o ativo {asset}: {e}")

    
    # 5) Salva o DataFrame atualizado de volta no CSV
    df_portifolio.to_csv(nome_arquivo_portifolio)
    
    return df_portifolio

df_b3_fechamento, df_b3_variacao = processar_b3_portifolio()
df_portifolio = checkar_portifolio(assets, quantidades, compra_especifica, dia_compra, df_b3_fechamento, df_b3_variacao)
df_portifolio

      Assets 2025-01-17
0      DAP25   98711.42
1      DAP26   88827.83
2      DAP27   84345.68
3      DAP28   76566.03
4      DAP29   72600.59
5      DAP30   66220.66
6      DAP32   57058.48
7      DAP33   54408.02
8      DAP35   47170.64
9      DAP40   33203.46
10     DAP45   23449.18
11     DAP50   16156.86
12     DAP55   11593.78
13     DAP60    7955.57
14     DI_26   87508.82
15     DI_27   75941.34
16     DI_28   66059.28
17     DI_29   57656.34
18     DI_30   50287.21
19     DI_31   43811.31
20     DI_32   38199.22
21     DI_33   33425.87
22     DI_34   29350.19
23     DI_35   25734.23
24     DI_36   22648.41
25     DI_37   19940.72
26     DI_38   17601.41
27     DI_39   15197.44
28     DI_40   13274.70
29      WDO1  6081.5680
30  TREASURY   108.6093
Assets        object
2025-01-17    object
dtype: object
Assets        object
2025-01-17    object
dtype: object
5.5
[*] Erro ao calcular valores para o ativo DAP28: '2025-01-20'
43811.31
43811.31
[*] Erro ao calcular valores para o ativo DI_31: '2025-01-20'
6081.568
6081.568
[*] Erro ao calcular valores para o ativo WDO1: '2025-01-20'
105.5
[*] Erro ao calcular valores para o ativo TREASURY: '2025-01-20'

,Quantidade,Dia de Compra,Preço de Compra,Preço de Ajuste Atual,Variação de Taxa,Rendimento
DAP28,2,2025-01-17,5.5,NaN,NaN,NaN
DI_31,1,2025-01-17,43811.31,NaN,NaN,NaN
WDO1,1,2025-01-17,6081.568,NaN,NaN,NaN
TREASURY,1,2025-01-17,105.5,NaN,NaN,NaN

In [3]:
df_posi = pd.read_csv('portifolio_posições.csv')
df_posi

,Ativo,Quantidade,Dia de Compra,Preço de Compra,Preço de Ajuste Atual,Variação de Taxa,Rendimento
0,DI_26,1,2025-01-19,NaN,87508.820,NaN,NaN
1,DI_28,2,2025-01-19,NaN,66059.280,NaN,NaN
2,DI_30,1,2025-01-19,NaN,50287.210,NaN,NaN
3,DI_32,1,2025-01-19,NaN,38199.220,NaN,NaN
4,DI_26,1,2025-01-17,100.000,87508.820,-49.620,87408.82
5,DI_28,2,2025-01-17,100.000,66059.280,-320.730,131918.56
6,DI_30,1,2025-01-17,100.000,50287.210,-486.210,50187.21
7,DI_32,1,2025-01-17,98.500,38199.220,-611.400,38100.72
8,DI_28,2,2025-01-17,66059.280,66059.280,-320.730,0.00
9,DI_32,1,2025-01-17,38199.220,38199.220,-611.400,0.00
10,DAP25,1,2025-01-17,100.000,98711.420,-33.330,98611.42
11,DAP25,1,2025-01-17,200.000,98711.420,-33.330,98511.42
12,DI_26,2,2025-01-17,87508.820,87508.820,-49.620,0.00
13,DI_28,6,2025-01-17,66059.280,66059.280,-320.730,0.00
14,DI_30,2,2025-01-17,50287.210,50287.210,-486.210,0.00
15,DI_32,3,2025-01-17,38199.220,38199.220,-611.400,0.00
16,WDO1,1,2025-01-17,6081.568,6081.568,37.801,0.00

In [5]:
df_resumo_port = df_posi.copy()
#Agrupar por Ativo
df_resumo_port = df_resumo_port.groupby('Ativo').sum()
df_resumo_port['Preço de Compra'] = df_resumo_port['Preço de Compra'] / df_resumo_port['Quantidade']

,Quantidade,Dia de Compra,Preço de Compra,Preço de Ajuste Atual,Variação de Taxa,Rendimento
Ativo,,,,,,
DAP25,2,2025-01-172025-01-17,300.000,197422.840,-66.660,197122.84
DI_26,4,2025-01-192025-01-172025-01-17,87608.820,262526.460,-99.240,87408.82
DI_28,12,2025-01-192025-01-172025-01-172025-01-17,132218.560,264237.120,-962.190,131918.56
DI_30,4,2025-01-192025-01-172025-01-17,50387.210,150861.630,-972.420,50187.21
DI_32,6,2025-01-192025-01-172025-01-172025-01-17,76496.940,152796.880,-1834.200,38100.72
WDO1,1,2025-01-17,6081.568,6081.568,37.801,0.00

In [7]:
df_b3_fechamento

      Assets  2025-01-17
0     DAP_25   98.711,42
1     DAP_26   88.827,83
2     DAP_27   84.345,68
3     DAP_28   76.566,03
4     DAP_29   72.600,59
5     DAP_30   66.220,66
6     DAP_32   57.058,48
7     DAP_33   54.408,02
8     DAP_35   47.170,64
9     DAP_40   33.203,46
10    DAP_45   23.449,18
11    DAP_50   16.156,86
12    DAP_55   11.593,78
13    DAP_60    7.955,57
14     DI_26   87.508,82
15     DI_27   75.941,34
16     DI_28   66.059,28
17     DI_29   57.656,34
18     DI_30   50.287,21
19     DI_31   43.811,31
20     DI_32   38.199,22
21     DI_33   33.425,87
22     DI_34   29.350,19
23     DI_35   25.734,23
24     DI_36   22.648,41
25     DI_37   19.940,72
26     DI_38   17.601,41
27     DI_39   15.197,44
28     DI_40   13.274,70
29      WDO1  6.081,5680
30  TREASURY    108,6093

In [1]:
df_port = pd.read_csv('portifolio_posições.csv')
df_port

NameError: name 'pd' is not defined

In [38]:

import os
import pandas as pd
import datetime
import numpy as np

def processar_b3_portifolio():
    """
    Exemplo de função que carrega dois dataframes de CSV:
     - df_preco_de_ajuste_atual.csv : preços de fechamento (colunas de datas)
     - df_variacao.csv : variação diária dos ativos (colunas de datas)
    """
    df_b3_fechamento = pd.read_csv("df_preco_de_ajuste_atual.csv")  
    # df_b3_fechamento possui colunas: ['Ativo', '17/01/2025', '18/01/2025', ...]
    
    df_b3_variacao = pd.read_csv("df_variacao.csv")
    # df_b3_variacao possui colunas: ['Ativo', '17/01/2025', '18/01/2025', ...]
    #Tirar o pontos das casas de milhar
    df_b3_fechamento = df_b3_fechamento.replace('\.', '', regex=True)
    df_b3_variacao = df_b3_variacao.replace('\.', '', regex=True)

    #Trocar Virgula por Ponto
    df_b3_fechamento = df_b3_fechamento.replace(',', '.', regex=True)
    df_b3_variacao = df_b3_variacao.replace(',', '.', regex=True)
    print(df_b3_fechamento)
    #Converter para Float menos a primeira coluna
    df_b3_fechamento.iloc[:, 1:] = df_b3_fechamento.iloc[:, 1:].astype(float)
    df_b3_variacao.iloc[:, 1:] = df_b3_variacao.iloc[:, 1:].astype(float)
    #Printar o tipo das colunas
    print(df_b3_fechamento.dtypes)
    print(df_b3_variacao.dtypes)
    
    return df_b3_fechamento, df_b3_variacao


################ DEIXAR ESSA FUNÇÃO ATUALIZADA COM A LISTA DE ASSETS DEFAUTL DO PORTIFÓLIO E SUAS QUANTIDADES ################
def processar_dados_port():
    df_assets = pd.read_csv("portifolio_posições.csv")
    df_assets.rename(columns={'Unnamed: 0': 'Ativo'}, inplace=True)
    assets_iniciais = df_assets['Ativo'].tolist()
    # Criar uma lista com as quantidades, convertendo para inteiros e ignorando valores nulos
    quantidades_iniciais = (
        df_assets['Quantidade']
        .apply(lambda x: int(x) if x == x else 0)  # Converte para inteiro, garantindo valores válidos
        .tolist()
    )
    #Criar um dicionário com os ativos e suas quantidades
    assets_quantidades = dict(zip(assets_iniciais, quantidades_iniciais))

    return assets_iniciais, assets_quantidades

#NA SEGUNDA PÁGINA TEM QUE CRIAR UM CAMPO PARA O USUÁRIO INSERIR A DATA QUE ELE COMPROU DETERMINADO ATIVO E SE ELE QUER INSERIR UM VALOR DE COMPRA ESPECÍFICO
#ATUALIZAR PRA ESSA LISTA DE QUANTIDADES LER O PORTIFÓLIO_POSIÇÕES E PEGAR AS QUANTIDADES DE LÁ, MAS PERMITIR O USUÁRIO ALTERAR TANTO AS QUANTIDADES QUANTO OS ATIVOS SELECIONADOS. OU SEJA, QUERO QUE OS INPUTS DO USUÁRIO NA TELA PRINCIPAL ATUALIZEM O PORTIFÓLIO_POSIÇÕES
assets = processar_dados_port()
quantidades = {'DAP28': 10, 'TREASURY': 20}
compra_especifica = {'DAP28': 5.5, 'TREASURY': 105.5}
dia_compra = {'DAP28': '2025-01-17', 'DI_31': '2025-01-17', 'WDO1':'2025-01-17', 'TREASURY': '2025-01-17'}


def checkar_portifolio(assets, 
                       quantidades, 
                       compra_especifica,  # dict { 'PETR4': 200, 'VALE3': 150 } etc.
                       dia_compra,         # pode ser dict { 'PETR4': '17/01/2025', 'VALE3': '16/01/2025' } ou string única
                       df_b3_fechamento, 
                       df_b3_variacao):
    """
    Verifica (ou cria) um CSV de portfólio e atualiza as posições de acordo com:
      1) Lista de ativos (assets) e suas quantidades (quantidades).
      2) Dicionário de compra_especifica (caso o usuário tenha quantidades específicas para algum ativo).
      3) Dia de compra, que pode ser um único valor ou um dicionário.
      4) Atualiza Preço de Compra, Preço de Ajuste Atual, Variação e Rendimento.
    """
    
    nome_arquivo_portifolio = 'portifolio_posições.csv'
    
    # 1) Carrega portfólio existente (se existir)
    if os.path.exists(nome_arquivo_portifolio):
        df_portifolio = pd.read_csv(nome_arquivo_portifolio, index_col=0)
    else:
        # Podemos criar um DataFrame com colunas definidas para evitar problemas de colunas inexistentes
        df_portifolio = pd.DataFrame(columns=[
            'Quantidade', 
            'Dia de Compra', 
            'Preço de Compra', 
            'Preço de Ajuste Atual', 
            'Variação de Taxa', 
            'Rendimento'
        ])
    
    # 2) Remover do DataFrame os ativos que NÃO estão na nova lista de assets
    #    (significa que o usuário removeu aquele ativo do portfólio)
    ativos_existentes = df_portifolio.index.tolist()
    for ativo_em_port in ativos_existentes:
        if ativo_em_port not in assets:
            df_portifolio.drop(index=ativo_em_port, inplace=True)
    # 3) Adicionar ou atualizar as quantidades dos ativos que estão na nova lista
    #    Se há compra_especifica, ela sobrescreve a quantidade
    #    Também atualizamos o 'Dia de Compra' se fornecido
    for asset in assets:
        

        qtd_final = quantidades.get(asset, 0)
        
        # Verifica se o dia_compra é dict ou valor único
        if isinstance(dia_compra, dict):
            dia_de_compra_atual = dia_compra.get(asset, None)
        else:
            # Se dia_compra for apenas uma string (valor único)
            dia_de_compra_atual = dia_compra
        if asset not in df_portifolio.index:
            # Se não existe, cria linha nova
            df_portifolio.loc[asset, 'Quantidade'] = qtd_final
            df_portifolio.loc[asset, 'Dia de Compra'] = dia_de_compra_atual
        else:
            # Se já existe, apenas atualiza
            df_portifolio.loc[asset, 'Quantidade'] = qtd_final
            # Se dia_compra foi passado como dict e existe valor pra esse ativo, atualiza

            if dia_de_compra_atual is not None:
                df_portifolio.loc[asset, 'Dia de Compra'] = dia_de_compra_atual

    # 4) Para cada ativo no DataFrame final, calculamos
    #    - Preço de Compra (com base em df_b3_fechamento na data de compra)
    #    - Preço de Ajuste Atual (com base em df_b3_fechamento na data de hoje)
    #    - Variação de Taxa (com base em df_b3_variacao na data de compra ou acumulada, depende da necessidade)
    #    - Rendimento (Quantidade * (Preço de Ajuste Atual - Preço de Compra)) ou vice-versa
    
    # Monta a string da data de hoje no mesmo formato das colunas do CSV
    # As colunas do CSV podem estar em formato "dd/mm/yyyy" ou "yyyy-mm-dd", dependendo de como foi salvo
    # Ajuste conforme a forma em que foram salvas:

    ############################## ---- PROBLEMA ---- ##############################
    #  
    data_hoje_str = datetime.date.today().strftime('%Y-%m-%d')

    for asset in df_portifolio.index:
        try:
            # Dia de compra que foi salvo
            dia_compra_ativo = df_portifolio.loc[asset, 'Dia de Compra']
            # (Opcional) se for "yyyy-mm-dd", converter para "dd/mm/yyyy" para casar com o CSV
            # Caso já esteja no formato correto, você pode pular esta conversão.
            # Exemplo (caso precise):
            # dia_compra_dt = datetime.datetime.strptime(dia_compra_ativo, '%Y-%m-%d')
            # dia_compra_ativo = dia_compra_dt.strftime('%d/%m/%Y')

            # PREÇO DE COMPRA
            # Localiza a linha do ativo e depois pega o valor na coluna da data de compra
            filtro_ativo = (df_b3_fechamento['Assets'] == asset)

            # Se o usuário informou um valor de compra_especifica para este ativo, sobrescreve
            if compra_especifica and (asset in compra_especifica):
                preco_compra = compra_especifica[asset]
                print(preco_compra)
            else:
                preco_compra = df_b3_fechamento.loc[filtro_ativo, dia_compra_ativo].values[0]
                print(preco_compra)
                print(df_b3_fechamento.loc[filtro_ativo, dia_compra_ativo].values[0])

            df_portifolio.loc[asset, 'Preço de Compra'] = preco_compra

            


            # PREÇO DE AJUSTE ATUAL
            # Usa a data de hoje (coluna de hoje) no df_b3_fechamento
            preco_ajuste_atual = df_b3_fechamento.loc[filtro_ativo, data_hoje_str].values[0]
            df_portifolio.loc[asset, 'Preço de Ajuste Atual'] = preco_ajuste_atual
            
            # VARIAÇÃO DE TAXA
            # Depende se você quer pegar a variação apenas do dia_compra_ativo ou a variação acumulada.
            # Abaixo apenas um exemplo de pegar a variação no dia de compra (ou outro critério)
            filtro_variacao = (df_b3_variacao['Assets'] == asset)
            variacao_taxa = df_b3_variacao.loc[filtro_variacao, dia_compra_ativo].values[0]
            df_portifolio.loc[asset, 'Variação de Taxa'] = variacao_taxa
            
            # RENDIMENTO
            # De acordo com seu snippet original, mas usualmente seria (Preço Atual - Preço Compra).
            df_portifolio.loc[asset, 'Rendimento'] = (
                df_portifolio.loc[asset, 'Quantidade'] * 
                (df_portifolio.loc[asset, 'Preço de Ajuste Atual'] - df_portifolio.loc[asset, 'Preço de Compra'])
            )
            
        except Exception as e:
            # Caso alguma coluna não seja encontrada ou dê erro, você pode tratar aqui
            print(f"[*] Erro ao calcular valores para o ativo {asset}: {e}")
    
    # 5) Salva o DataFrame atualizado de volta no CSV
    df_portifolio.to_csv(nome_arquivo_portifolio)
    
    return df_portifolio

df_b3_fechamento, df_b3_variacao = processar_b3_portifolio()
df_portifolio = checkar_portifolio(assets, quantidades, compra_especifica, dia_compra, df_b3_fechamento, df_b3_variacao)
df_portifolio

<>:18: SyntaxWarning: invalid escape sequence '\.'
<>:19: SyntaxWarning: invalid escape sequence '\.'
<>:18: SyntaxWarning: invalid escape sequence '\.'
<>:19: SyntaxWarning: invalid escape sequence '\.'
C:\Users\emanuel.cabral\AppData\Local\Temp\ipykernel_19080\3055066535.py:18: SyntaxWarning: invalid escape sequence '\.'
  df_b3_fechamento = df_b3_fechamento.replace('\.', '', regex=True)
C:\Users\emanuel.cabral\AppData\Local\Temp\ipykernel_19080\3055066535.py:19: SyntaxWarning: invalid escape sequence '\.'
  df_b3_variacao = df_b3_variacao.replace('\.', '', regex=True)
C:\Users\emanuel.cabral\AppData\Local\Temp\ipykernel_19080\3055066535.py:18: SyntaxWarning: invalid escape sequence '\.'
  df_b3_fechamento = df_b3_fechamento.replace('\.', '', regex=True)
C:\Users\emanuel.cabral\AppData\Local\Temp\ipykernel_19080\3055066535.py:19: SyntaxWarning: invalid escape sequence '\.'
  df_b3_variacao = df_b3_variacao.replace('\.', '', regex=True)

      Assets 2025-01-17
0      DAP25   98711.42
1      DAP26   88827.83
2      DAP27   84345.68
3      DAP28   76566.03
4      DAP29   72600.59
5      DAP30   66220.66
6      DAP32   57058.48
7      DAP33   54408.02
8      DAP35   47170.64
9      DAP40   33203.46
10     DAP45   23449.18
11     DAP50   16156.86
12     DAP55   11593.78
13     DAP60    7955.57
14     DI_26   87508.82
15     DI_27   75941.34
16     DI_28   66059.28
17     DI_29   57656.34
18     DI_30   50287.21
19     DI_31   43811.31
20     DI_32   38199.22
21     DI_33   33425.87
22     DI_34   29350.19
23     DI_35   25734.23
24     DI_36   22648.41
25     DI_37   19940.72
26     DI_38   17601.41
27     DI_39   15197.44
28     DI_40   13274.70
29      WDO1  6081.5680
30  TREASURY   108.6093
Assets        object
2025-01-17    object
dtype: object
Assets        object
2025-01-17    object
dtype: object

TypeError: string indices must be integers, not 'list'

In [ ]:
 # Converter para DataFrame
    columns = ['Mercadoria', 'Vencimento', 'Preço de ajuste anterior',
               'Preço de ajuste Atual', 'Variação', 'Valor do ajuste por contrato (R$)']
    df = pd.DataFrame(processed_data, columns=columns)

    #preciso criar um novo nome para mercadoria, vai ser as 3 primeiras letras do nome da mercadoria + as duas ultimas do vencimento
    df['Mercadoria'] = df['Mercadoria'].str[:3] + '_' + df['Vencimento'].str[-2:]

    #Tirar o 1 do nome da DI1
    df.loc[df['Mercadoria'].str.startswith('DI1'), 'Mercadoria'] = 'DI' + '_' + df['Vencimento'].str[-2:]
    #Preciso mudar o nome da mercadoria dol e t10
    df.loc[df['Mercadoria'].str.startswith('DOL_') , 'Mercadoria'] = 'WDO1'
    df.loc[df['Mercadoria'].str.startswith('T10_'), 'Mercadoria'] = 'TREASURY'
    df.drop('Vencimento', axis=1, inplace=True)
    df_preco_fechamento = df.copy()
    df_preco_fechamento.drop(['Preço de ajuste anterior', 'Variação', 'Valor do ajuste por contrato (R$)'], axis=1, inplace=True)
    df_preco_fechamento.rename(columns={'Mercadoria': 'Ativo', 'Preço de ajuste Atual': 'Preço de Fechamento'+ datetime.today()}, inplace=True)