In [15]:
import streamlit as st
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os
from datetime import date

In [16]:
lista_estrategias = {
                'DI': 'Juros Nominais Brasil',
                'DAP': 'Juros Reais Brasil',
                'TREASURY': 'Juros US',
                'WDO1': 'Moedas'
            }
lista_ativos = [
                'DI_26', 'DI_27', 'DI_28', 'DI_29', 'DI_30',
                'DI_31', 'DI_32', 'DI_33', 'DI_35', 'DAP25', 'DAP26', 'DAP27',
                'DAP28', 'DAP30', 'DAP32', 'DAP35', 'DAP40', 'WDO1', 'TREASURY'
            ]

In [17]:
data_inicial = '2025-01-14'
data_final = '2025-01-22'

In [ ]:
dt_ini = datetime.datetime.strptime(data_inicial, "%Y-%m-%d").date()
dt_fim = datetime.datetime.strptime(data_final,   "%Y-%m-%d").date()

def mapear_estrategia(ativo):
    for prefixo, nome_estrategia in lista_estrategias.items():
        if prefixo in ativo:  # substring "DI", "DAP", "WDO1", etc.
            return nome_estrategia
    return "Estratégia Desconhecida"

pasta_fundos = "BaseFundos"
if not os.path.isdir(pasta_fundos):
    raise FileNotFoundError(f"Pasta '{pasta_fundos}' não encontrada.")

arquivos = [arq for arq in os.listdir(
    pasta_fundos) if arq.endswith(".csv")]

registros = []
# Cada elemento em 'registros' será um dict:
# { "date": dt_col, "fundo": nome_fundo, "Ativo": ativo, "Rendimento_diario": rend_val }

for arquivo_csv in arquivos:
    caminho_csv = os.path.join(pasta_fundos, arquivo_csv)
    nome_fundo = arquivo_csv.replace(".csv", "")

    df_fundo = pd.read_csv(caminho_csv)
    if "Ativo" not in df_fundo.columns:
        continue  # ignora se não tiver coluna 'Ativo'

    # Todas as colunas do tipo "YYYY-MM-DD - Rendimento"
    colunas_rendimento = [
        c for c in df_fundo.columns if c.endswith(" - Rendimento")]

    for _, row_ in df_fundo.iterrows():
        ativo = row_["Ativo"]
        print(f'{_} - Index')
        print(f'{row_} - Row')

0 - Index
Ativo                              WDO1
Preco_Fechamento_Atual         6037.375
2025-01-14 - PL              11563897.0
2025-01-14 - Preco_Compra        6000.0
2025-01-14 - Quantidade             0.0
2025-01-14 - Rendimento             0.0
2025-01-16 - PL              11563897.0
2025-01-16 - Preco_Compra        6000.0
2025-01-16 - Quantidade             0.0
2025-01-16 - Rendimento             0.0
2025-01-22 - PL              11563897.0
2025-01-22 - Preco_Compra        6500.0
2025-01-22 - Quantidade             1.0
2025-01-22 - Rendimento        -462.625
Name: 0, dtype: object - Row
1 - Index
Ativo                             DI_33
Preco_Fechamento_Atual         33210.31
2025-01-14 - PL                     NaN
2025-01-14 - Preco_Compra           NaN
2025-01-14 - Quantidade             NaN
2025-01-14 - Rendimento             NaN
2025-01-16 - PL                     NaN
2025-01-16 - Preco_Compra           NaN
2025-01-16 - Quantidade             NaN
2025-01-16 - Rendimento             NaN
2025-01-22 - PL              11563897.0
2025-01-22 - Preco_Compra       33400.0
2025-01-22 - Quantidade             0.0
2025-01-22 - Rendimento            -0.0
Name: 1, dtype: object - Row
0 - Index
Ativo                              WDO1
Preco_Fechamento_Atual         6037.375
2025-01-14 - PL              77314727.0
2025-01-14 - Preco_Compra        6000.0
2025-01-14 - Quantidade             2.0
2025-01-14 - Rendimento           74.75
2025-01-16 - PL              77314727.0
2025-01-16 - Preco_Compra        6000.0
2025-01-16 - Quantidade             2.0
2025-01-16 - Rendimento           74.75
2025-01-22 - PL              77314727.0
2025-01-22 - Preco_Compra        6500.0
2025-01-22 - Quantidade             3.0
2025-01-22 - Rendimento       -1387.875
Name: 0, dtype: object - Row
1 - Index
Ativo                             DI_33
Preco_Fechamento_Atual         33210.31
2025-01-14 - PL                     NaN
2025-01-14 - Preco_Compra           NaN
2025-01-14 - Quantidade             NaN
2025-01-14 - Rendimento             NaN
2025-01-16 - PL                     NaN
2025-01-16 - Preco_Compra           NaN
2025-01-16 - Quantidade             NaN
2025-01-16 - Rendimento             NaN
2025-01-22 - PL              77314727.0
2025-01-22 - Preco_Compra       33400.0
2025-01-22 - Quantidade             1.0
2025-01-22 - Rendimento         -189.69
Name: 1, dtype: object - Row
0 - Index
Ativo                              WDO1
Preco_Fechamento_Atual         6037.375
2025-01-14 - PL              45417246.0
2025-01-14 - Preco_Compra        6000.0
2025-01-14 - Quantidade             1.0
2025-01-14 - Rendimento          37.375
2025-01-16 - PL              45417246.0
2025-01-16 - Preco_Compra        6000.0
2025-01-16 - Quantidade             1.0
2025-01-16 - Rendimento          37.375
2025-01-22 - PL              45417246.0
2025-01-22 - Preco_Compra        6500.0
2025-01-22 - Quantidade             2.0
2025-01-22 - Rendimento         -925.25
Name: 0, dtype: object - Row
1 - Index
Ativo                             DI_33
Preco_Fechamento_Atual         33210.31
2025-01-14 - PL                     NaN
2025-01-14 - Preco_Compra           NaN
2025-01-14 - Quantidade             NaN
2025-01-14 - Rendimento             NaN
2025-01-16 - PL                     NaN
2025-01-16 - Preco_Compra           NaN
2025-01-16 - Quantidade             NaN
2025-01-16 - Rendimento             NaN
2025-01-22 - PL              45417246.0
2025-01-22 - Preco_Compra       33400.0
2025-01-22 - Quantidade             1.0
2025-01-22 - Rendimento         -189.69
Name: 1, dtype: object - Row
0 - Index
Ativo                              WDO1
Preco_Fechamento_Atual         6037.375
2025-01-14 - PL              29796115.0
2025-01-14 - Preco_Compra        6000.0
2025-01-14 - Quantidade             1.0
2025-01-14 - Rendimento          37.375
2025-01-16 - PL              29796115.0
2025-01-16 - Preco_Compra        6000.0
2025-01-16 - Quantidade             1.0
2025-01-16 - Rendimento          37.375
2025-01-22 - PL              29796115.0
2025-01-22 - Preco_Compra        6500.0
2025-01-22 - Quantidade             3.0
2025-01-22 - Rendimento       -1387.875
Name: 0, dtype: object - Row
1 - Index
Ativo                             DI_33
Preco_Fechamento_Atual         33210.31
2025-01-14 - PL                     NaN
2025-01-14 - Preco_Compra           NaN
2025-01-14 - Quantidade             NaN
2025-01-14 - Rendimento             NaN
2025-01-16 - PL                     NaN
2025-01-16 - Preco_Compra           NaN
2025-01-16 - Quantidade             NaN
2025-01-16 - Rendimento             NaN
2025-01-22 - PL              29796115.0
2025-01-22 - Preco_Compra       33400.0
2025-01-22 - Quantidade             1.0
2025-01-22 - Rendimento         -189.69
Name: 1, dtype: object - Row
0 - Index
Ativo                               WDO1
Preco_Fechamento_Atual          6037.375
2025-01-14 - PL              240930319.0
2025-01-14 - Preco_Compra         6000.0
2025-01-14 - Quantidade              3.0
2025-01-14 - Rendimento          112.125
2025-01-16 - PL              240930319.0
2025-01-16 - Preco_Compra         6000.0
2025-01-16 - Quantidade              3.0
2025-01-16 - Rendimento          112.125
2025-01-22 - PL              240930319.0
2025-01-22 - Preco_Compra         6500.0
2025-01-22 - Quantidade              5.0
2025-01-22 - Rendimento        -2313.125
Name: 0, dtype: object - Row
1 - Index
Ativo                              DI_33
Preco_Fechamento_Atual          33210.31
2025-01-14 - PL                      NaN
2025-01-14 - Preco_Compra            NaN
2025-01-14 - Quantidade              NaN
2025-01-14 - Rendimento              NaN
2025-01-16 - PL                      NaN
2025-01-16 - Preco_Compra            NaN
2025-01-16 - Quantidade              NaN
2025-01-16 - Rendimento              NaN
2025-01-22 - PL              240930319.0
2025-01-22 - Preco_Compra        33400.0
2025-01-22 - Quantidade              2.0
2025-01-22 - Rendimento          -379.38
Name: 1, dtype: object - Row
0 - Index
Ativo                               WDO1
Preco_Fechamento_Atual          6037.375
2025-01-14 - PL              191147694.0
2025-01-14 - Preco_Compra         6000.0
2025-01-14 - Quantidade              4.0
2025-01-14 - Rendimento            149.5
2025-01-16 - PL              191147694.0
2025-01-16 - Preco_Compra         6000.0
2025-01-16 - Quantidade              4.0
2025-01-16 - Rendimento            149.5
2025-01-22 - PL              191147694.0
2025-01-22 - Preco_Compra         6500.0
2025-01-22 - Quantidade              9.0
2025-01-22 - Rendimento        -4163.625
Name: 0, dtype: object - Row
1 - Index
Ativo                              DI_33
Preco_Fechamento_Atual          33210.31
2025-01-14 - PL                      NaN
2025-01-14 - Preco_Compra            NaN
2025-01-14 - Quantidade              NaN
2025-01-14 - Rendimento              NaN
2025-01-16 - PL                      NaN
2025-01-16 - Preco_Compra            NaN
2025-01-16 - Quantidade              NaN
2025-01-16 - Rendimento              NaN
2025-01-22 - PL              191147694.0
2025-01-22 - Preco_Compra        33400.0
2025-01-22 - Quantidade              3.0
2025-01-22 - Rendimento          -569.07
Name: 1, dtype: object - Row
0 - Index
Ativo                              WDO1
Preco_Fechamento_Atual         6037.375
2025-01-14 - PL              40334603.0
2025-01-14 - Preco_Compra        6000.0
2025-01-14 - Quantidade             1.0
2025-01-14 - Rendimento          37.375
2025-01-16 - PL              40334603.0
2025-01-16 - Preco_Compra        6000.0
2025-01-16 - Quantidade             1.0
2025-01-16 - Rendimento          37.375
2025-01-22 - PL              40334603.0
2025-01-22 - Preco_Compra        6500.0
2025-01-22 - Quantidade             2.0
2025-01-22 - Rendimento         -925.25
Name: 0, dtype: object - Row
1 - Index
Ativo                             DI_33
Preco_Fechamento_Atual         33210.31
2025-01-14 - PL                     NaN
2025-01-14 - Preco_Compra           NaN
2025-01-14 - Quantidade             NaN
2025-01-14 - Rendimento             NaN
2025-01-16 - PL                     NaN
2025-01-16 - Preco_Compra           NaN
2025-01-16 - Quantidade             NaN
2025-01-16 - Rendimento             NaN
2025-01-22 - PL              40334603.0
2025-01-22 - Preco_Compra       33400.0
2025-01-22 - Quantidade             1.0
2025-01-22 - Rendimento         -189.69
Name: 1, dtype: object - Row
0 - Index
Ativo                              WDO1
Preco_Fechamento_Atual         6037.375
2025-01-14 - PL              36463215.0
2025-01-14 - Preco_Compra        6000.0
2025-01-14 - Quantidade             1.0
2025-01-14 - Rendimento          37.375
2025-01-16 - PL              36463215.0
2025-01-16 - Preco_Compra        6000.0
2025-01-16 - Quantidade             1.0
2025-01-16 - Rendimento          37.375
2025-01-22 - PL              36463215.0
2025-01-22 - Preco_Compra        6500.0
2025-01-22 - Quantidade             2.0
2025-01-22 - Rendimento         -925.25
Name: 0, dtype: object - Row
1 - Index
Ativo                             DI_33
Preco_Fechamento_Atual         33210.31
2025-01-14 - PL                     NaN
2025-01-14 - Preco_Compra           NaN
2025-01-14 - Quantidade             NaN
2025-01-14 - Rendimento             NaN
2025-01-16 - PL                     NaN
2025-01-16 - Preco_Compra           NaN
2025-01-16 - Quantidade             NaN
2025-01-16 - Rendimento             NaN
2025-01-22 - PL              36463215.0
2025-01-22 - Preco_Compra       33400.0
2025-01-22 - Quantidade             1.0
2025-01-22 - Rendimento         -189.69
Name: 1, dtype: object - Row
0 - Index
Ativo                              WDO1
Preco_Fechamento_Atual         6037.375
2025-01-14 - PL              30777380.0
2025-01-14 - Preco_Compra        6000.0
2025-01-14 - Quantidade             1.0
2025-01-14 - Rendimento          37.375
2025-01-16 - PL              30777380.0
2025-01-16 - Preco_Compra        6000.0
2025-01-16 - Quantidade             1.0
2025-01-16 - Rendimento          37.375
2025-01-22 - PL              30777380.0
2025-01-22 - Preco_Compra        6500.0
2025-01-22 - Quantidade             1.0
2025-01-22 - Rendimento        -462.625
Name: 0, dtype: object - Row
1 - Index
Ativo                             DI_33
Preco_Fechamento_Atual         33210.31
2025-01-14 - PL                     NaN
2025-01-14 - Preco_Compra           NaN
2025-01-14 - Quantidade             NaN
2025-01-14 - Rendimento             NaN
2025-01-16 - PL                     NaN
2025-01-16 - Preco_Compra           NaN
2025-01-16 - Quantidade             NaN
2025-01-16 - Rendimento             NaN
2025-01-22 - PL              30777380.0
2025-01-22 - Preco_Compra       33400.0
2025-01-22 - Quantidade             0.0
2025-01-22 - Rendimento            -0.0
Name: 1, dtype: object - Row
0 - Index
Ativo                               WDO1
Preco_Fechamento_Atual          6037.375
2025-01-14 - PL              703745196.0
2025-01-14 - Preco_Compra         6000.0
2025-01-14 - Quantidade             14.0
2025-01-14 - Rendimento           523.25
2025-01-16 - PL              703745196.0
2025-01-16 - Preco_Compra         6000.0
2025-01-16 - Quantidade             14.0
2025-01-16 - Rendimento           523.25
2025-01-22 - PL              703745196.0
2025-01-22 - Preco_Compra         6500.0
2025-01-22 - Quantidade             28.0
2025-01-22 - Rendimento         -12953.5
Name: 0, dtype: object - Row
1 - Index
Ativo                              DI_33
Preco_Fechamento_Atual          33210.31
2025-01-14 - PL                      NaN
2025-01-14 - Preco_Compra            NaN
2025-01-14 - Quantidade              NaN
2025-01-14 - Rendimento              NaN
2025-01-16 - PL                      NaN
2025-01-16 - Preco_Compra            NaN
2025-01-16 - Quantidade              NaN
2025-01-16 - Rendimento              NaN
2025-01-22 - PL              703745196.0
2025-01-22 - Preco_Compra        33400.0
2025-01-22 - Quantidade             10.0
2025-01-22 - Rendimento          -1896.9
Name: 1, dtype: object - Row

In [18]:

dt_ini = datetime.datetime.strptime(data_inicial, "%Y-%m-%d").date()
dt_fim = datetime.datetime.strptime(data_final,   "%Y-%m-%d").date()

def mapear_estrategia(ativo):
    for prefixo, nome_estrategia in lista_estrategias.items():
        if prefixo in ativo:  # substring "DI", "DAP", "WDO1", etc.
            return nome_estrategia
    return "Estratégia Desconhecida"

pasta_fundos = "BaseFundos"
if not os.path.isdir(pasta_fundos):
    raise FileNotFoundError(f"Pasta '{pasta_fundos}' não encontrada.")

arquivos = [arq for arq in os.listdir(
    pasta_fundos) if arq.endswith(".csv")]

registros = []
# Cada elemento em 'registros' será um dict:
# { "date": dt_col, "fundo": nome_fundo, "Ativo": ativo, "Rendimento_diario": rend_val }

for arquivo_csv in arquivos:
    caminho_csv = os.path.join(pasta_fundos, arquivo_csv)
    nome_fundo = arquivo_csv.replace(".csv", "")

    df_fundo = pd.read_csv(caminho_csv)
    if "Ativo" not in df_fundo.columns:
        continue  # ignora se não tiver coluna 'Ativo'

    # Todas as colunas do tipo "YYYY-MM-DD - Rendimento"
    colunas_rendimento = [
        c for c in df_fundo.columns if c.endswith(" - Rendimento")]

    for _, row_ in df_fundo.iterrows():
        ativo = row_["Ativo"]


        for col_rend in colunas_rendimento:
            try:
                data_str = col_rend.replace(" - Rendimento", "").strip()
                dt_col = datetime.datetime.strptime(
                    data_str, "%Y-%m-%d").date()
            except:
                continue  # erro de formato de data

            if dt_ini <= dt_col <= dt_fim:
                rend_val = row_[col_rend]
                if pd.isna(rend_val):
                    rend_val = 0.0
                registros.append({
                    "date": dt_col,
                    "fundo": nome_fundo,
                    "Ativo": ativo,
                    "Rendimento_diario": rend_val
                })

if len(registros) == 0:
    # Nada encontrado no período
    df_diario_fundo_ativo = pd.DataFrame(
        columns=["date", "fundo", "Ativo", "Rendimento_diario", "Estratégia"])
    df_diario_fundo_estrategia = pd.DataFrame(
        columns=["date", "fundo", "Estratégia", "Rendimento_diario"])
    df_diario_fundo_total = pd.DataFrame(
        columns=["date", "fundo", "Rendimento_diario"])
    df_diario_fundo_ativo
    df_diario_fundo_estrategia
    df_diario_fundo_total

# Monta DataFrame consolidado
df_all = pd.DataFrame(registros)
df_all["Estratégia"] = df_all["Ativo"].apply(mapear_estrategia)

# 1) Performance diária por Fundo x Ativo
df_diario_fundo_ativo = df_all[[
    "date", "fundo", "Ativo", "Rendimento_diario", "Estratégia"]].copy()
df_diario_fundo_ativo.sort_values(["fundo", "date", "Ativo"], inplace=True)

# 2) Performance diária por Fundo x Estratégia
df_diario_fundo_estrategia = (
    df_all
    .groupby(["date", "fundo", "Estratégia"], as_index=False)["Rendimento_diario"]
    .sum()
    .sort_values(["fundo", "date", "Estratégia"])
)

# 3) Performance diária agregada do Fundo (somando todos os ativos)
df_diario_fundo_total = (
    df_all
    .groupby(["date", "fundo"], as_index=False)["Rendimento_diario"]
    .sum()
    .sort_values(["fundo", "date"])
)

df_diario_fundo_ativo

,date,fundo,Ativo,Rendimento_diario,Estratégia
3,2025-01-20,AF DEB INCENTIVADAS,DI_33,-0.000,Juros Nominais Brasil
1,2025-01-20,AF DEB INCENTIVADAS,WDO1,0.000,Moedas
2,2025-01-21,AF DEB INCENTIVADAS,DI_33,-0.000,Juros Nominais Brasil
0,2025-01-21,AF DEB INCENTIVADAS,WDO1,0.000,Moedas
7,2025-01-20,BH FIRF INFRA,DI_33,-189.690,Juros Nominais Brasil
5,2025-01-20,BH FIRF INFRA,WDO1,37.375,Moedas
6,2025-01-21,BH FIRF INFRA,DI_33,-189.690,Juros Nominais Brasil
4,2025-01-21,BH FIRF INFRA,WDO1,37.375,Moedas
11,2025-01-20,BORDEAUX INFRA,DI_33,-189.690,Juros Nominais Brasil
9,2025-01-20,BORDEAUX INFRA,WDO1,37.375,Moedas
10,2025-01-21,BORDEAUX INFRA,DI_33,-189.690,Juros Nominais Brasil
8,2025-01-21,BORDEAUX INFRA,WDO1,37.375,Moedas
15,2025-01-20,GLOBAL BONDS,DI_33,-189.690,Juros Nominais Brasil
13,2025-01-20,GLOBAL BONDS,WDO1,37.375,Moedas
14,2025-01-21,GLOBAL BONDS,DI_33,-189.690,Juros Nominais Brasil
12,2025-01-21,GLOBAL BONDS,WDO1,37.375,Moedas
19,2025-01-20,HORIZONTE,DI_33,-379.380,Juros Nominais Brasil
17,2025-01-20,HORIZONTE,WDO1,74.750,Moedas
18,2025-01-21,HORIZONTE,DI_33,-379.380,Juros Nominais Brasil
16,2025-01-21,HORIZONTE,WDO1,74.750,Moedas
23,2025-01-20,JERA2026,DI_33,-569.070,Juros Nominais Brasil
21,2025-01-20,JERA2026,WDO1,112.125,Moedas
22,2025-01-21,JERA2026,DI_33,-569.070,Juros Nominais Brasil
20,2025-01-21,JERA2026,WDO1,112.125,Moedas
27,2025-01-20,MANACA INFRA FIRF,DI_33,-189.690,Juros Nominais Brasil
25,2025-01-20,MANACA INFRA FIRF,WDO1,37.375,Moedas
26,2025-01-21,MANACA INFRA FIRF,DI_33,-189.690,Juros Nominais Brasil
24,2025-01-21,MANACA INFRA FIRF,WDO1,37.375,Moedas
31,2025-01-20,REAL FIM,DI_33,-189.690,Juros Nominais Brasil
29,2025-01-20,REAL FIM,WDO1,37.375,Moedas
30,2025-01-21,REAL FIM,DI_33,-189.690,Juros Nominais Brasil
28,2025-01-21,REAL FIM,WDO1,37.375,Moedas
35,2025-01-20,TOPAZIO INFRA,DI_33,-0.000,Juros Nominais Brasil
33,2025-01-20,TOPAZIO INFRA,WDO1,0.000,Moedas
34,2025-01-21,TOPAZIO INFRA,DI_33,-0.000,Juros Nominais Brasil
32,2025-01-21,TOPAZIO INFRA,WDO1,0.000,Moedas
39,2025-01-20,Total,DI_33,-1896.900,Juros Nominais Brasil
37,2025-01-20,Total,WDO1,373.750,Moedas
38,2025-01-21,Total,DI_33,-1896.900,Juros Nominais Brasil
36,2025-01-21,Total,WDO1,373.750,Moedas

In [33]:
df_teste_fundos =df_diario_fundo_ativo[df_diario_fundo_ativo['fundo'] != 'Total']
df_teste = df_diario_fundo_ativo[df_diario_fundo_ativo['fundo'] == 'Total']
#Agrupar por dia
df_teste_dia = df_teste.groupby(['date']).sum().reset_index()
df_teste_dia.drop(columns=['fundo','Ativo','Estratégia'], inplace=True)
df_teste_dia

         date  Rendimento_diario
0  2025-01-20           -1523.15
1  2025-01-21           -1523.15

In [45]:
#Ficar somente com a coluna de estratégia e rendimento diário
df_teste_estrategia = df_teste[['Estratégia','Rendimento_diario']]
df_teste_estrategia = df_teste_estrategia.groupby(['Estratégia']).sum().reset_index()

              Estratégia  Rendimento_diario
0  Juros Nominais Brasil            -3793.8
1                 Moedas              747.5

In [50]:
df_teste_estrategia_data = df_teste.groupby(['date','Estratégia']).sum().reset_index()
df_teste_estrategia_data.drop(columns=['fundo','Ativo'], inplace=True)
df_teste_estrategia_data

         date             Estratégia  Rendimento_diario
0  2025-01-20  Juros Nominais Brasil           -1896.90
1  2025-01-20                 Moedas             373.75
2  2025-01-21  Juros Nominais Brasil           -1896.90
3  2025-01-21                 Moedas             373.75

In [59]:
df_teste_fundos_estrategia = df_teste_fundos[['Estratégia','Rendimento_diario','fundo','date']]
#Dropar zeros
df_teste_fundos_estrategia = df_teste_fundos_estrategia[df_teste_fundos_estrategia['Rendimento_diario'] != 0]

df_teste_fundos_estrategia

               Estratégia  Rendimento_diario              fundo        date
7   Juros Nominais Brasil           -189.690      BH FIRF INFRA  2025-01-20
5                  Moedas             37.375      BH FIRF INFRA  2025-01-20
6   Juros Nominais Brasil           -189.690      BH FIRF INFRA  2025-01-21
4                  Moedas             37.375      BH FIRF INFRA  2025-01-21
11  Juros Nominais Brasil           -189.690     BORDEAUX INFRA  2025-01-20
9                  Moedas             37.375     BORDEAUX INFRA  2025-01-20
10  Juros Nominais Brasil           -189.690     BORDEAUX INFRA  2025-01-21
8                  Moedas             37.375     BORDEAUX INFRA  2025-01-21
15  Juros Nominais Brasil           -189.690       GLOBAL BONDS  2025-01-20
13                 Moedas             37.375       GLOBAL BONDS  2025-01-20
14  Juros Nominais Brasil           -189.690       GLOBAL BONDS  2025-01-21
12                 Moedas             37.375       GLOBAL BONDS  2025-01-21
19  Juros Nominais Brasil           -379.380          HORIZONTE  2025-01-20
17                 Moedas             74.750          HORIZONTE  2025-01-20
18  Juros Nominais Brasil           -379.380          HORIZONTE  2025-01-21
16                 Moedas             74.750          HORIZONTE  2025-01-21
23  Juros Nominais Brasil           -569.070           JERA2026  2025-01-20
21                 Moedas            112.125           JERA2026  2025-01-20
22  Juros Nominais Brasil           -569.070           JERA2026  2025-01-21
20                 Moedas            112.125           JERA2026  2025-01-21
27  Juros Nominais Brasil           -189.690  MANACA INFRA FIRF  2025-01-20
25                 Moedas             37.375  MANACA INFRA FIRF  2025-01-20
26  Juros Nominais Brasil           -189.690  MANACA INFRA FIRF  2025-01-21
24                 Moedas             37.375  MANACA INFRA FIRF  2025-01-21
31  Juros Nominais Brasil           -189.690           REAL FIM  2025-01-20
29                 Moedas             37.375           REAL FIM  2025-01-20
30  Juros Nominais Brasil           -189.690           REAL FIM  2025-01-21
28                 Moedas             37.375           REAL FIM  2025-01-21

In [ ]:
                # --------------------------------------------------------------------
                # Exibir apenas a visão escolhida:
                # --------------------------------------------------------------------
                if tipo_visao == "Ativo":
                    st.subheader("Rendimento Diário - Fundo x Ativo")
                    st.dataframe(df_ativo)

                    # Exemplo de gráfico: escolher 1 fundo e plotar linha ao longo das datas
                    # pivot index=date, columns=Ativo, values=Rendimento_diario
                    fundos_unicos = df_ativo["fundo"].unique()
                    if len(fundos_unicos) > 0:
                        fundo_escolhido = st.selectbox(
                            "Escolha o Fundo para Gráfico:", fundos_unicos)
                        df_plot = df_ativo[df_ativo["fundo"]
                                           == fundo_escolhido].copy()
                        # pivot
                        df_plot_pivot = df_plot.pivot(index="date",
                                                      columns="Ativo",
                                                      values="Rendimento_diario").fillna(0.0)
                        # Ordenar index (date)
                        df_plot_pivot.sort_index(inplace=True)
                        st.line_chart(df_plot_pivot)

                elif tipo_visao == "Estratégia":
                    st.subheader("Rendimento Diário - Fundo x Estratégia")
                    st.dataframe(df_estr)

                    # Exemplo de gráfico: pivot index=date, columns=Estratégia
                    fundos_unicos = df_estr["fundo"].unique()
                    if len(fundos_unicos) > 0:
                        fundo_escolhido = st.selectbox(
                            "Escolha o Fundo para Gráfico:", fundos_unicos)
                        df_plot = df_estr[df_estr["fundo"]
                                          == fundo_escolhido].copy()
                        df_plot_pivot = df_plot.pivot(index="date",
                                                      columns="Estratégia",
                                                      values="Rendimento_diario").fillna(0.0)
                        df_plot_pivot.sort_index(inplace=True)
                        st.line_chart(df_plot_pivot)

                else:  # tipo_visao == "Fundo"
                    st.subheader("Rendimento Diário - Fundo (Total)")
                    st.dataframe(df_fundo)

                    # Exemplo de gráfico: pivot index=date, columns=fundo
                    df_plot_pivot = df_fundo.pivot(index="date",
                                                   columns="fundo",
                                                   values="Rendimento_diario").fillna(0.0)
                    df_plot_pivot.sort_index(inplace=True)
                    st.line_chart(df_plot_pivot)

In [30]:
df_teste['Rendimento_diario'].sum()

-3046.3000000000475

In [11]:
#Criar visualizações por tipo de estratégia
# 1) Performance diário do tipo de estratégia
df_diario_estrategia = (
    df_all
    .groupby(["date", "Estratégia"], as_index=False)["Rendimento_diario"]
    .sum()
    .sort_values(["date", "Estratégia"])
)
df_diario_estrategia

         date             Estratégia  Rendimento_diario
0  2025-01-14  Juros Nominais Brasil                0.0
1  2025-01-14                 Moedas             1046.5
2  2025-01-16  Juros Nominais Brasil                0.0
3  2025-01-16                 Moedas             1046.5
4  2025-01-22  Juros Nominais Brasil            -3793.8
5  2025-01-22                 Moedas           -25907.0

In [104]:
df = pd.read_excel('BBG - ECO DASH.xlsx', sheet_name='BZ RATES',
                    skiprows=1, thousands='.', decimal=',')
df.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2',
        'Unnamed: 3', 'Unnamed: 26'], axis=1, inplace=True)
df.columns.values[0] = 'Date'
df = df.drop([0])  # Remove a primeira linha
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df.drop(['WSP1 Index'], axis=1, inplace=True)
df.columns = [
    'Date', 'DI_26', 'DI_27', 'DI_28', 'DI_29', 'DI_30',
    'DI_31', 'DI_32', 'DI_33', 'DI_35', 'DAP25', 'DAP26', 'DAP27',
    'DAP28', 'DAP30', 'DAP32', 'DAP35', 'DAP40', 'WDO1', 'TREASURY', 'IBOV',
    'TREASURY_AJUSTADA', 'S&P'
]
df.drop(['IBOV', 'S&P', 'TREASURY_AJUSTADA'], axis=1, inplace=True)
df

,Date,DI_26,DI_27,DI_28,DI_29,DI_30,DI_31,DI_32,DI_33,DI_35,DAP25,DAP26,DAP27,DAP28,DAP30,DAP32,DAP35,DAP40,WDO1,TREASURY
1,2020-02-12,70209.18,65409.99,60887.36,56672.47,52886.54,49070.25,NaN,42041.12,36075.15,117846.938474,112830.702256,NaN,104438.895434,96391.504572,NaN,79672.767913,NaN,43476.18,130687.5
2,2020-02-13,70032.54,65215.85,60701.18,56499.54,52778.63,49033.37,NaN,42002.06,36035.21,117748.692419,112781.36182,NaN,104460.42694,96120.07331,NaN,79341.319733,NaN,43450.14,130765.6
3,2020-02-14,70495.1,65695.35,61165.11,56936.56,53182.18,49395.12,NaN,42367.11,36395.26,118251.523925,113374.137398,NaN,105344.387896,96823.954574,NaN,80177.406713,NaN,43061.45,130984.3
4,2020-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020-02-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1797,2025-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1798,2025-01-13,87335.38,75673.29,65634.63,57083.62,49654.3,43205.64,37643.08,32884.16,25278.69,175093.441657,157573.733897,149193.327941,135273.841563,116902.514573,100649.081997,83617.43126,58817.381714,61107.7,107234.3
1799,2025-01-14,87416.06,75821.48,65865.49,57372.05,49991.23,43576.12,38014.83,33262.72,25641.95,175210.529487,157615.019623,149404.722158,135528.865681,117329.254359,101129.024881,83983.381445,58934.271066,60707.25,107359.3
1800,2025-01-15,87518.61,76108.95,66349.81,58047.73,50750.32,44361.94,38792.97,34012.65,26336.55,175207.521107,157656.546353,149648.165452,135963.705698,117696.668882,101611.038157,84109.659544,59247.733966,60437.67,108328.1
1801,2025-01-16,87513.21,75974.75,66120.14,57748.96,50397,43942.31,38379.02,33578.33,25890.18,175201.382291,157430.035588,149373.89921,135602.858696,117733.310329,101287.639467,83815.060669,NaN,60775,108595.001221

In [113]:
df_retorno = df.copy()
df_retorno.drop(['Date'], axis=1, inplace=True)
df_retorno.dropna(inplace=True)
df_retorno = df_retorno.astype(float)
df_retorno = df_retorno.tail(252*3).reset_index(drop=True)
df_retorno = np.log(df_retorno / df_retorno.shift(1)) 
df_retorno

,DI_26,DI_27,DI_28,DI_29,DI_30,DI_31,DI_32,DI_33,DI_35,DAP25,DAP26,DAP27,DAP28,DAP30,DAP32,DAP35,DAP40,WDO1,TREASURY
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.003754,0.005701,0.006776,0.008454,0.009608,0.010777,0.011946,0.013115,0.015426,0.003561,0.002606,0.002457,0.005407,0.004491,0.006438,0.009244,0.009224,0.001506,0.001953
2,0.002871,0.001074,-0.000114,-0.000817,-0.002052,-0.003562,-0.005341,-0.007389,-0.008809,0.006657,0.007766,0.008454,0.006644,0.008524,0.007434,0.009246,0.016239,0.002128,-0.003788
3,-0.008011,-0.011669,-0.016497,-0.018074,-0.021431,-0.025008,-0.028318,-0.031718,-0.037569,-0.002025,-0.002560,-0.003546,-0.005110,-0.009217,-0.007506,-0.015842,-0.010060,0.004959,-0.006879
4,0.004621,0.005906,0.006759,0.005970,0.006063,0.005986,0.006614,0.007241,0.008482,0.001691,0.001739,0.001451,0.002927,0.002875,0.001456,0.005476,0.002211,-0.011314,0.001109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,0.000929,0.002531,0.004372,0.005500,0.005664,0.005202,0.004537,0.004074,0.002791,0.000434,-0.001368,-0.000304,0.000235,0.000047,0.001265,0.000558,-0.001624,-0.010916,0.000722
734,-0.000534,-0.001768,-0.004315,-0.007245,-0.010023,-0.012644,-0.014582,-0.016987,-0.021493,0.000211,-0.000470,-0.000948,-0.001091,-0.002530,-0.004345,-0.001353,-0.013763,0.007196,-0.007682
735,0.001605,0.003033,0.003234,0.002719,0.001805,0.000613,-0.000886,-0.001098,-0.002815,0.000985,0.000534,0.000386,-0.000934,-0.003217,-0.003115,-0.003439,-0.005694,-0.002085,-0.001456
736,0.000923,0.001956,0.003511,0.005040,0.006763,0.008538,0.009827,0.011446,0.014268,0.000668,0.000262,0.001416,0.001883,0.003644,0.004757,0.004367,0.001985,-0.006575,0.001165
737,0.001172,0.003784,0.007326,0.011708,0.015070,0.017873,0.020263,0.022295,0.026728,-0.000017,0.000263,0.001628,0.003203,0.003127,0.004755,0.001502,0.005305,-0.004451,0.008983

In [114]:
var_Ativos = df_retorno.quantile(0.05)
var_Ativos

DI_26      -0.005381
DI_27      -0.007642
DI_28      -0.009781
DI_29      -0.011466
DI_30      -0.012828
DI_31      -0.015058
DI_32      -0.016941
DI_33      -0.019156
DI_35      -0.023063
DAP25      -0.002068
DAP26      -0.003684
DAP27      -0.004393
DAP28      -0.005310
DAP30      -0.006876
DAP32      -0.008394
DAP35      -0.010445
DAP40      -0.013195
WDO1       -0.014193
TREASURY   -0.007563
Name: 0.05, dtype: float64

In [109]:
#pegar a pior variação de cada coluna
pior_variacao = df_retorno.min()
pior_variacao

DI_26      -0.006172
DI_27      -0.011773
DI_28      -0.015508
DI_29      -0.019312
DI_30      -0.022282
DI_31      -0.026605
DI_32      -0.032094
DI_33      -0.035736
DI_35      -0.046268
DAP25      -0.001618
DAP26      -0.007389
DAP27      -0.008206
DAP28      -0.009786
DAP30      -0.020728
DAP32      -0.028363
DAP35      -0.046468
DAP40      -0.054657
WDO1       -0.020577
TREASURY   -0.013198
dtype: float64

In [99]:
#Piores varicões da coluna TREASURY
pior_variacao_treasury = df_retorno['TREASURY'].min()
pior_variacao_treasury

-0.013111019093292042

In [79]:
# DataFrame do dia atual (1 linha por Fundo)
df_current = pd.read_csv("df_current.csv")
# Exemplo: "2025-01-20"
dia_operacao = "2025-01-15"
# DF de transações: [Ativo, Quantidade, Dia de Compra, Preço de Compra, ...]
df_info = pd.read_csv("df_info.csv")
# DF de preços de fechamento B3: colunas ["Assets", <data1>, <data2>, ...]

In [80]:
df_fechamento_b3 = pd.read_csv("df_fechamento_b3.csv")
df_fechamento_b3 = df_fechamento_b3.replace('\.', '', regex=True)
df_fechamento_b3 = df_fechamento_b3.replace({',': '.'}, regex=True)
#Converter para float todas as colunas menos a primeira
df_fechamento_b3.iloc[:, 2:] = df_fechamento_b3.iloc[:, 2:].astype(float)
df_fechamento_b3

,Unnamed: 0,Assets,2025-01-02,2025-01-03,2025-01-06,2025-01-07,2025-01-08,2025-01-09,2025-01-10,2025-01-13,2025-01-14,2025-01-15,2025-01-16,2025-01-17,2025-01-20,2025-01-21
0,0,DAP25,98420.08,98537.44,98566.96,98606.0,98589.62,98605.9,98600.13,98688.39,98728.79,98701.51,98711.42,98733.37,98761.04,98762.34
1,1,DAP26,88536.62,88708.86,88894.14,88906.74,88985.51,88839.95,88774.27,88813.71,88813.96,88814.33,88827.83,88880.25,88842.11,88714.33
2,2,DAP27,83678.7,83886.14,84166.83,84173.14,84216.02,84167.76,84065.34,84090.24,84187.56,84302.89,84345.68,84388.43,84413.08,84221.86
3,3,DAP28,75982.66,76132.39,76434.84,76381.23,76429.4,76426.78,76322.91,76244.76,76368.7,76593.88,76566.03,76513.09,76510.75,76332.54
4,4,DAP29,72298.68,72349.2,72574.18,72334.21,72471.68,72435.19,72283.27,72160.86,72384.21,72636.96,72600.59,72477.85,72441.89,72205.36
5,5,DAP30,66333.67,66353.05,66578.79,66357.52,66308.42,66293.65,66108.37,65890.08,66113.47,66303.31,66220.66,66002.64,65988.47,65670.98
6,6,DAP32,57412.89,57107.32,57486.7,57181.02,57117.54,57174.43,56911.25,56729.12,56984.85,57241.62,57058.48,56836.49,56655.28,56317.66
7,7,DAP33,54417.48,54181.57,54617.59,54506.96,54522.76,54664.93,54428.38,54276.75,54460.07,54686.0,54408.02,54007.32,53899.03,53585.3
8,8,DAP35,47304.65,47182.63,47468.03,47164.85,47359.26,47372.93,47296.15,47129.52,47323.51,47382.39,47170.64,46781.56,46617.53,46190.11
9,9,DAP40,33461.41,33475.62,33767.22,33504.04,33878.97,33814.9,33343.71,33151.4,33208.67,33376.65,33203.46,32874.55,32704.37,32362.4
10,10,DAP45,23630.53,23641.67,23840.78,23933.04,23768.95,23766.7,23471.01,23236.04,23409.39,23664.03,23449.18,23149.31,22939.57,22676.53
11,11,DAP50,15974.11,16027.96,16238.97,16382.75,16240.48,16279.75,16115.57,15926.77,16117.13,16348.44,16156.86,16062.37,15930.77,15526.56
12,12,DAP55,11422.13,11473.62,11622.86,11807.21,11655.61,11649.08,11512.56,11387.3,11519.11,11734.52,11593.78,11327.06,11178.92,11017.39
13,13,DAP60,7847.2,7906.55,8037.55,8205.85,8047.39,8025.83,7889.17,7788.18,7885.87,8090.69,7955.57,7743.43,7619.35,7492.41
14,14,DI_26,86812.34,86950.54,87057.54,87081.12,87160.83,87241.86,87195.29,87335.38,87416.06,87518.61,87508.82,87515.57,87587.23,87624.76
15,15,DI_27,74824.27,75135.35,75344.87,75317.94,75386.58,75577.62,75444.09,75673.29,75821.48,76108.95,75941.34,75912.13,76071.37,76076.82
16,16,DI_28,64753.44,65159.49,65510.26,65440.86,65418.97,65705.64,65422.71,65634.63,65865.49,66349.81,66059.28,65957.96,66231.08,66220.7
17,17,DI_29,56356.33,56818.25,57270.12,57148.76,57028.06,57342.55,56928.6,57083.62,57372.05,58047.73,57656.34,57452.87,57828.83,57780.16
18,18,DI_30,49138.87,49646.42,50148.6,50006.23,49781.28,50064.04,49564.77,49654.3,49991.23,50750.32,50287.21,49970.51,50358.09,50304.44
19,19,DI_31,42922.79,43406.74,43964.63,43752.62,43501.71,43728.6,43179.16,43205.64,43576.12,44361.94,43811.31,43420.81,43814.78,43746.88
20,20,DI_32,37548.07,38009.88,38570.95,38361.41,38056.8,38229.84,37676.43,37643.08,38014.83,38792.97,38199.22,37759.16,38101.49,38051.73
21,21,DI_33,32856.11,33364.85,33907.77,33680.1,33348.15,33484.3,32920.29,32884.16,33262.72,34012.65,33425.87,32932.54,33271.96,33210.31
22,22,DI_34,28891.53,29402.98,29945.06,29702.5,29368.4,29471.48,28908.35,28850.28,29208.99,29961.55,29350.19,28831.35,29114.55,29065.18
23,23,DI_35,25365.1,25882.86,26437.04,26179.43,25828.5,25900.69,25349.94,25278.69,25641.95,26336.55,25734.23,25180.07,25470.9,25390.75
24,24,DI_36,22304.03,22804.15,23340.63,23089.19,22747.56,22816.23,22281.63,22211.42,22561.64,23233.84,22648.41,22110.91,22390.87,22312.02
25,25,DI_37,19620.1,20100.29,20616.54,20372.87,20042.58,20107.65,19592.23,19523.71,19859.36,20505.92,19940.72,19422.93,19690.86,19553.18
26,26,DI_38,17303.22,17761.73,18255.74,18021.19,17703.95,17765.4,17271.58,17205.29,17525.26,18143.64,17601.41,17105.73,17360.8,17228.42
27,27,DI_39,14926.11,15351.61,15811.02,15591.94,15296.17,15352.75,14893.38,14831.31,15127.82,15702.54,15197.44,14736.72,14972.82,14849.4
28,28,DI_40,13025.91,13423.72,13854.13,13648.0,13370.24,13422.73,12992.27,12933.74,13210.55,13748.65,13274.7,12843.34,13063.5,12947.61
29,29,TREASURY,108.8125,108.6406,108.5312,108.1718,108.1406,108.2187,107.3906,107.2343,107.3593,108.3281,108.6093,108.5468,108.5468,108.7343
30,30,WDO1,6192.3,6213.021,6143.028,6130.918,6146.352,6079.623,6123.527,6110.77,6070.725,6043.767,6081.568,6074.069,6056.388,6037.375

In [81]:
#Preciso pegar o dia de fechamento mais atual
ultimo_fechamento = df_fechamento_b3.columns[-1]

ultimo_fechamento

'2025-01-21'

In [82]:
df_current.set_index("Fundos/Carteiras Adm", inplace=True)

In [83]:
df_current.drop(columns=["Fundos/Carteiras Adm.1"], inplace=True)
df_current

,PL,Weights,PL_atualizado,Adm,Max Contratos DI_33,Max Contratos WDO1,Contratos DI_33,Contratos WDO1
Fundos/Carteiras Adm,,,,,,,,
GLOBAL BONDS,29796115.0,4.0,"R$119,184,460",SANTANDER,18.681007,17.718069,-6,5
HORIZONTE,240930319.0,1.0,"R$240,930,319",BTG,37.763489,35.816917,-12,10
JERA2026,191147694.0,2.0,"R$382,295,388",SANTANDER,59.921091,56.832375,-18,17
REAL FIM,36463215.0,2.0,"R$72,926,430",SANTANDER,11.430510,10.841308,-4,3
BH FIRF INFRA,77314727.0,2.0,"R$154,629,454",BTG,24.236666,22.987353,-7,7
BORDEAUX INFRA,45417246.0,2.0,"R$90,834,492",BTG,14.237425,13.503537,-4,4
TOPAZIO INFRA,30777380.0,2.0,"R$61,554,760",BTG,9.648111,9.150786,-3,3
MANACA INFRA FIRF,40334603.0,2.0,"R$80,669,206",BTG,12.644115,11.992356,-4,4
AF DEB INCENTIVADAS,11563897.0,3.0,"R$34,691,691",BTG,5.437586,5.157298,-2,1
Total,703745196.0,20.0,"R$1,237,716,200",NaN,194.000000,184.000000,-60,54

In [84]:
df_info

,Unnamed: 0,Ativo,Quantidade,Dia de Compra,Preço de Compra,Preço de Ajuste Atual,Rendimento
0,0,WDO1,8,2025-01-14,6000.0,6056.388,451.104
1,1,DI_33,-10,2025-01-14,33300.0,33271.960,280.400
2,2,DI_33,-10,2025-01-15,33300.0,33271.960,280.400
3,3,WDO1,10,2025-01-15,6000.0,6056.388,563.880
4,4,DI_33,-60,2025-01-21,0.0,33271.960,-1996317.600
5,5,WDO1,54,2025-01-21,0.0,6056.388,327044.952

In [89]:
for fundo, row_fundo in df_current.iterrows():
    # Caminho do CSV do Fundo
    nome_arquivo_csv = os.path.join("BaseFundos", f"{fundo}.csv")

    # 2.1) Carregar (ou criar) o DataFrame histórico do Fundo (df_fundo)
    if os.path.exists(nome_arquivo_csv):
        df_fundo = pd.read_csv(nome_arquivo_csv, index_col=None)
        #Conferir se já existem dados para o dia de operação
        if df_fundo.columns.str.startswith(dia_operacao).any():
            df_fundo = df_fundo.drop(columns=df_fundo.columns[df_fundo.columns.str.startswith(dia_operacao)])
        # 2.2) Garante que "Ativo" seja índice (mas mantendo a coluna)
        if "Ativo" in df_fundo.columns:
            df_fundo.set_index("Ativo", inplace=True, drop=False)
    else:
        df_fundo = pd.DataFrame(columns=["Ativo",
                                        "Preco_Fechamento_Atual"])
        # 2.2) Garante que "Ativo" seja índice (mas mantendo a coluna)
        if "Ativo" in df_fundo.columns:
            df_fundo.set_index("Ativo", inplace=True, drop=False)
    subset = df_info[df_info["Dia de Compra"] == dia_operacao]
    lista_assets = subset["Ativo"].unique()
    for asset in lista_assets:
    # Se o ativo ainda não existe no df_fundo, cria a linha
        print(df_fundo.index)
        if asset not in df_fundo.index:
            df_fundo.loc[asset, "Ativo"] = asset
            df_fundo.loc[asset, f"{dia_operacao} - PL"] = row_fundo["PL"]
            df_fundo.loc[asset, "Preco_Fechamento_Atual"] = df_fechamento_b3.loc[df_fechamento_b3["Assets"] == asset, ultimo_fechamento].values[0]
            df_fundo.loc[asset, f"{dia_operacao} - Preco_Compra"] = df_info.loc[(df_info["Ativo"] == asset) & (df_info["Dia de Compra"] == dia_operacao), "Preço de Compra"].values[0]
            df_fundo.loc[asset, f'{dia_operacao} - Quantidade'] = row_fundo[f'Contratos {asset}']
            rendimento = (df_fundo.loc[df_fundo["Ativo"] == asset, "Preco_Fechamento_Atual"].values[0] - df_fundo.loc[df_fundo["Ativo"] == asset, f'{dia_operacao} - Preco_Compra'].values[0])
            df_fundo.loc[asset, f'{dia_operacao} - Rendimento'] = df_fundo.loc[df_fundo["Ativo"] == asset, f'{dia_operacao} - Quantidade'].values[0] * rendimento
        else:
            df_fundo.loc[asset, f"{dia_operacao} - PL"] = row_fundo["PL"]
            df_fundo.loc[asset, "Preco_Fechamento_Atual"] = df_fechamento_b3.loc[df_fechamento_b3["Assets"] == asset, ultimo_fechamento].values[0]
            df_fundo.loc[asset, f"{dia_operacao} - Preco_Compra"] = df_info.loc[(df_info["Ativo"] == asset) & (df_info["Dia de Compra"] == dia_operacao), "Preço de Compra"].values[0]
            df_fundo.loc[asset, f'{dia_operacao} - Quantidade'] = row_fundo[f'Contratos {asset}']
            rendimento = (df_fundo.loc[df_fundo["Ativo"] == asset, "Preco_Fechamento_Atual"].values[0] - df_fundo.loc[df_fundo["Ativo"] == asset, f'{dia_operacao} - Preco_Compra'].values[0])
            df_fundo.loc[asset, f'{dia_operacao} - Rendimento'] = df_fundo.loc[df_fundo["Ativo"] == asset, f'{dia_operacao} - Quantidade'].values[0] * rendimento
       
        #Pegar o Preco de compra de cada ativo

    df_fundo.reset_index(drop=True, inplace=True)
    df_fundo.to_csv(nome_arquivo_csv, index=False, encoding="utf-8")

    print(f"[{fundo}] -> CSV atualizado: {nome_arquivo_csv}")

Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
[GLOBAL BONDS] -> CSV atualizado: BaseFundos/GLOBAL BONDS.csv
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
[HORIZONTE] -> CSV atualizado: BaseFundos/HORIZONTE.csv
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
[JERA2026] -> CSV atualizado: BaseFundos/JERA2026.csv
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
[REAL FIM] -> CSV atualizado: BaseFundos/REAL FIM.csv
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
[BH FIRF INFRA] -> CSV atualizado: BaseFundos/BH FIRF INFRA.csv
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
[BORDEAUX INFRA] -> CSV atualizado: BaseFundos/BORDEAUX INFRA.csv
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
[TOPAZIO INFRA] -> CSV atualizado: BaseFundos/TOPAZIO INFRA.csv
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
[MANACA INFRA FIRF] -> CSV atualizado: BaseFundos/MANACA INFRA FIRF.csv
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
[AF DEB INCENTIVADAS] -> CSV atualizado: BaseFundos/AF DEB INCENTIVADAS.csv
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
Index(['DI_33', 'WDO1'], dtype='object', name='Ativo')
[Total] -> CSV atualizado: BaseFundos/Total.csv

In [ ]:

"""
- O CSV final de cada fundo terá linhas = cada ativo (ou "PL"),
e colunas básicas = ["Ativo","Preco_Compra","Preco_Fechamento_Atual", ...],
além das colunas diárias geradas a cada dia de operação:
    <dia_operacao> - Quantidade
    <dia_operacao> - Preço Pago
    <dia_operacao> - Rendimento
- Lógica geral:
1) Se houver aumento de posição no mesmo dia (quantidade final > anterior),
    recalculamos o preço médio (ponderado).
2) A coluna "Preco_Fechamento_Atual" vem do CSV de preços B3 para a
    última data disponível.
3) Tratamento especial da linha "PL":
    - Se não existir, criamos com quantidade definida (ex.: 1.0).
    - Armazenamos o PL do dia em "Preco_Fechamento_Atual".
"""
# ------------------------------------------------------------------
# 1) Carregar (ou processar) DF de preços de fechamento
# ------------------------------------------------------------------
# Supondo que o arquivo local seja "df_preco_de_ajuste_atual.csv"

# ------------------------------------------------------------------
# 2) Iterar cada fundo (linha) em df_current
# ------------------------------------------------------------------
for fundo, row_fundo in df_current.iterrows():
    df_fundo = pd.DataFrame(columns=["Ativo",
                                        "Preco_Compra",
                                        "Preco_Fechamento_Atual"])

    # 2.2) Garante que "Ativo" seja índice (mas mantendo a coluna)
    if "Ativo" in df_fundo.columns:
        df_fundo.set_index("Ativo", inplace=True, drop=False)

    # ----------------------------------------------------------------
    # 3) Verifica se existe coluna "PL" em df_current
    # ----------------------------------------------------------------
    valor_pl = None
    if "PL" in df_current.columns:
        valor_pl = row_fundo["PL"]  # PL atual do fundo

    # ----------------------------------------------------------------
    # 4) Identificar colunas de CONTRATOS no df_current
    # ----------------------------------------------------------------
    colunas_contratos = [
        c for c in df_current.columns
        if c.startswith("Contratos ")
        ]
    # Exemplo: {"Contratos WDO1": 10, "Contratos DI_33": -25, ...}
    serie_contratos = row_fundo[colunas_contratos]

    # ----------------------------------------------------------------
    # 5) Para cada ativo do df_current, precisamos garantir 3 colunas novas:
    #    <dia_operacao> - Quantidade
    #    <dia_operacao> - Preço Pago
    #    <dia_operacao> - Rendimento
    # ----------------------------------------------------------------
    col_qtd = f"{dia_operacao} - Quantidade"
    col_preco_pago = f"{dia_operacao} - Preço Pago"
    col_rendimento = f"{dia_operacao} - Rendimento"

    for c_ in [col_qtd, col_preco_pago, col_rendimento]:
        if c_ not in df_fundo.columns:
            df_fundo[c_] = 0.0

    # ----------------------------------------------------------------
    # 6) Se existir PL, criar/atualizar linha "PL"
    # ----------------------------------------------------------------
    if valor_pl is not None:
        if "PL" not in df_fundo.index:
            # Linha PL não existe: criamos com alguma quantidade específica
            df_fundo.loc["PL", "Ativo"] = "PL"
            df_fundo.loc["PL", "Preco_Compra"] = np.nan
            # Aqui, assumimos que você queira dar "1.0" de quantidade para PL,
            # mas pode alterar para outro valor, se preferir.
            df_fundo.loc["PL", col_qtd] = 1.0
        # Sempre que tiver PL, jogamos esse valor em Preco_Fechamento_Atual
        df_fundo.loc["PL", "Preco_Fechamento_Atual"] = valor_pl
        # Se quiser calcular "rendimento" do PL, defina a lógica.
        # Por default, deixaremos 0.0
        df_fundo.loc["PL", col_rendimento] = 0.0

    # ----------------------------------------------------------------
    # 7) Processar cada ativo (contratos)
    # ----------------------------------------------------------------
    for col_contrato, qtd_dia_raw in serie_contratos.items():
        ativo = col_contrato.replace("Contratos ", "").strip()

        # Converte a quantidade para float
        try:
            qtd_dia_nova = float(qtd_dia_raw)
        except:
            qtd_dia_nova = 0.0

        # Se o ativo ainda não existe no df_fundo, cria a linha
        if ativo not in df_fundo.index:
            df_fundo.loc[ativo, "Ativo"] = ativo
            df_fundo.loc[ativo, "Preco_Compra"] = 0.0
            df_fundo.loc[ativo, "Preco_Fechamento_Atual"] = 0.0

        # Carrega o preço médio atual (se for NaN, vira 0.0)
        preco_medio_atual = df_fundo.loc[ativo, "Preco_Compra"]
        if pd.isna(preco_medio_atual):
            preco_medio_atual = 0.0

        # 7.1) Descobre a quantidade que já estava neste MESMO dia
        qtd_dia_anterior = df_fundo.loc[ativo, col_qtd]
        if pd.isna(qtd_dia_anterior):
            qtd_dia_anterior = 0.0

        diff = qtd_dia_nova - qtd_dia_anterior
        st.table(df_fundo)
        st.table(df_info)
        st.write(ativo)
        # 7.2) Se houve compra adicional (diff > 0), recalcular preço médio
        if diff > 0:
            # Localizar no df_info as linhas para este dia/ativo
            subset = df_info[
                (df_info["Ativo"] == ativo) &
                (df_info["Dia de Compra"] == dia_operacao)
            ]
            if len(subset) == 0:
                # Se não encontrou nada em df_info, mantemos o preço anterior
                preco_compra_dia = preco_medio_atual
            else:
                # Faz soma ponderada das quantidades positivas
                qtd_total_dia = 0.0
                valor_total_dia = 0.0
                for i, r in subset.iterrows():
                    q_linha = float(str(r["Quantidade"]).replace(",", "."))
                    p_linha = float(
                        str(r["Preço de Compra"]).replace(",", "."))
                    if q_linha > 0:
                        qtd_total_dia += q_linha
                        valor_total_dia += (q_linha * p_linha)
                if qtd_total_dia == 0:
                    preco_compra_dia = preco_medio_atual
                else:
                    preco_compra_dia = valor_total_dia / qtd_total_dia
            
            # Novo preço médio = ponderação do que havia até qtd_dia_anterior + diff
            qtd_comprada = diff
            qtd_final = qtd_dia_nova
            novo_preco_medio = (
                (qtd_dia_anterior * preco_medio_atual) +
                (qtd_comprada * preco_compra_dia)
            ) / qtd_final

            df_fundo.loc[ativo, "Preco_Compra"] = novo_preco_medio
            # Também vamos registrar em "<dia> - Preço Pago" a média do dia
            df_fundo.loc[ativo, col_preco_pago] = preco_compra_dia

        elif diff < 0:
            # Se houve venda, normalmente não alteramos o preço médio
            # (a menos que queira zerar posição ou recalcular).
            # No caso de venda, se quiser, pode registrar "Preço Pago" do dia
            # com o mesmo valor do preço médio anterior, ou outro.
            df_fundo.loc[ativo, col_preco_pago] = preco_medio_atual
            subset = df_info[
                (df_info["Ativo"] == ativo) &
                (df_info["Dia de Compra"] == dia_operacao)
            ]
            for i, r in subset.iterrows():
                p_linha = float(
                    str(r["Preço de Compra"]).replace(",", "."))
                df_fundo.loc[ativo, col_preco_pago] = p_linha

        else:
            # Se não houve alteração de posição neste dia, mantemos o Preço Pago
            # para o que já estava (caso já tenha sido setado acima).
            if pd.isna(df_fundo.loc[ativo, col_preco_pago]):
                df_fundo.loc[ativo, col_preco_pago] = 0.0

        # Atualiza a coluna de quantidade do dia
        df_fundo.loc[ativo, col_qtd] = qtd_dia_nova

        # 7.3) Atualizar Preço de Fechamento Atual com base em df_fechamento_b3
        row_fech = df_fechamento_b3[df_fechamento_b3["Assets"] == ativo]
        if not row_fech.empty:
            valor_fechamento_str = str(
                row_fech[ultima_data_fechamento].values[0])
            # Exemplo de conversão "6.081,5680" -> "6081.5680"
            valor_fechamento_str = valor_fechamento_str.replace(
                ".", "").replace(",", ".")
            try:
                valor_fechamento_float = float(valor_fechamento_str)
            except:
                valor_fechamento_float = 0.0
            df_fundo.loc[ativo,
                            "Preco_Fechamento_Atual"] = valor_fechamento_float
        else:
            df_fundo.loc[ativo, "Preco_Fechamento_Atual"] = np.nan

    # ----------------------------------------------------------------
    # 8) Calcular "Rendimento" do dia para cada ativo
    #    (exemplo: (Preco_Fechamento_Atual - Preco_Compra) * Quantidade_dia)
    # ----------------------------------------------------------------
    for ativo_idx in df_fundo.index:
        # Se for "PL", já tratamos lá em cima, mas se quiser,
        # podemos garantir zero ou outro valor aqui
        if ativo_idx == "PL":
            # Se desejar, pode redefinir aqui a fórmula de rendimento do PL
            continue

        preco_fech = df_fundo.loc[ativo_idx, "Preco_Fechamento_Atual"]
        preco_med = df_fundo.loc[ativo_idx, "Preco_Compra"]
        qtd_hoje = df_fundo.loc[ativo_idx, col_qtd]

        if (not pd.isna(preco_fech)) and (not pd.isna(preco_med)) and (not pd.isna(qtd_hoje)):
            rendimento_dia = (preco_fech - p_linha) * qtd_hoje
        else:
            rendimento_dia = 0.0

        df_fundo.loc[ativo_idx, col_rendimento] = rendimento_dia

    # ----------------------------------------------------------------
    # 9) Salvar o CSV do fundo
    # ----------------------------------------------------------------
    df_fundo.reset_index(drop=True, inplace=True)
    df_fundo.to_csv(nome_arquivo_csv, index=False, encoding="utf-8")

    print(f"[{fundo}] -> CSV atualizado: {nome_arquivo_csv}")

In [ ]:
df_global = pd.read_csv('GLOBAL BONDS.csv')
df_global

                Ativo  Rendimento  Preco_Compra     2025-01-20
0                 NaN         NaN           NaN  R$119,184,460
1     Contratos DI_33         NaN           NaN             -2
2      Contratos WDO1         NaN           NaN              1
3  Contratos TREASURY         NaN           NaN              0

In [ ]:
df_jera2026 = pd.read_csv('JERA2026.csv')
df_jera2026

                Ativo  Rendimento  Preco_Compra     2025-01-20
0                 NaN         NaN           NaN  R$382,295,388
1     Contratos DI_33         NaN           NaN             -8
2      Contratos WDO1         NaN           NaN              3
3  Contratos TREASURY         NaN           NaN              1

In [ ]:
df_pregao = pd.read_csv('ajustes_do_pregao.csv')
df_pregao

,Mercadoria,Vencimento,Preço de ajuste anterior,Preço de ajuste Atual,Variação,Valor do ajuste por contrato (R$)
0,ABEVO - Contrato Futuro de ABEV3,F25,"11,21","11,40","0,19","0,19"
1,AFS - Rande da África do Sul (em USD),G25,"18.968,000","18.791,500","-176,500","566,68"
2,ARB - Peso Argentino (em Reais),G25,"5,7740","5,7520","-0,0220","3,30"
3,ARS - Peso Argentino (em USD),G25,"1.051.438,0000","1.050.770,1000","-667,9000","38,67"
4,AUD - Dólar Australiano (em Reais),G25,"3.756,5650","3.760,4620","3,8970","233,82"
...,...,...,...,...,...,...
82,WEU - EURO MÍNI,G25,"6.256,9020","6.224,9770","-31,9250","319,25"
83,WIN - Ibovespa Mini,G25,120.272,123.673,3.401,"680,20"
84,WSP - Microcontrato Futuro de S&P 500,H25,"5.880,75","5.992,50","111,75","1.683,12"
85,XFI - Futuro de IFIX,G25,"3.148,10","3.174,30","26,20","262,00"
86,ZAR - Rande da África do Sul (em Reais),G25,"3.200,5090","3.216,2240","15,7150","550,02"

In [ ]:
file_bbg = 'BBG - ECO DASH.xlsx'
#Pular primeira linha, primeira coluna, e ir até a linha 23
df = pd.read_excel(file_bbg, sheet_name='DIV01',
                skiprows=1, usecols='E:F', nrows=21)
df = df.T
columns = [
    'DI_26', 'DI_27', 'DI_28', 'DI_29', 'DI_30',
    'DI_31', 'DI_32', 'DI_33', 'DI_35', 'DAP25', 'DAP26', 'DAP27',
    'DAP28', 'DAP30', 'DAP32', 'DAP35', 'DAP40', 'WDO1', 'TREASURY', 'IBOV','S&P'
]
df.columns = columns
#dropar a primeira linha
df = df.drop(df.index[0])

df['TREASURY'] = df['TREASURY'] * df_precos['WDO1']

In [ ]:
df = pd.read_csv('df_preco_de_ajuste_atual.csv')
df

      Assets  2025-01-17
0      DAP25   98.711,42
1      DAP26   88.827,83
2      DAP27   84.345,68
3      DAP28   76.566,03
4      DAP29   72.600,59
5      DAP30   66.220,66
6      DAP32   57.058,48
7      DAP33   54.408,02
8      DAP35   47.170,64
9      DAP40   33.203,46
10     DAP45   23.449,18
11     DAP50   16.156,86
12     DAP55   11.593,78
13     DAP60    7.955,57
14    DAP_25         NaN
15    DAP_26         NaN
16    DAP_27         NaN
17    DAP_28         NaN
18    DAP_29         NaN
19    DAP_30         NaN
20    DAP_32         NaN
21    DAP_33         NaN
22    DAP_35         NaN
23    DAP_40         NaN
24    DAP_45         NaN
25    DAP_50         NaN
26    DAP_55         NaN
27    DAP_60         NaN
28     DI_26   87.508,82
29     DI_27   75.941,34
30     DI_28   66.059,28
31     DI_29   57.656,34
32     DI_30   50.287,21
33     DI_31   43.811,31
34     DI_32   38.199,22
35     DI_33   33.425,87
36     DI_34   29.350,19
37     DI_35   25.734,23
38     DI_36   22.648,41
39     DI_37   19.940,72
40     DI_38   17.601,41
41     DI_39   15.197,44
42     DI_40   13.274,70
43  TREASURY    108,6093
44      WDO1  6.081,5680

In [ ]:
import os
import pandas as pd
import datetime
import numpy as np

In [ ]:

def processar_b3_portifolio():
    """
    Exemplo de função que carrega dois dataframes de CSV:
     - df_preco_de_ajuste_atual.csv : preços de fechamento (colunas de datas)
     - df_variacao.csv : variação diária dos ativos (colunas de datas)
    """
    df_b3_fechamento = pd.read_csv("df_preco_de_ajuste_atual.csv")  
    # df_b3_fechamento possui colunas: ['Ativo', '17/01/2025', '18/01/2025', ...]
    
    df_b3_variacao = pd.read_csv("df_variacao.csv")
    # df_b3_variacao possui colunas: ['Ativo', '17/01/2025', '18/01/2025', ...]
    #Tirar o pontos das casas de milhar
    df_b3_fechamento = df_b3_fechamento.replace('\.', '', regex=True)
    df_b3_variacao = df_b3_variacao.replace('\.', '', regex=True)

    #Trocar Virgula por Ponto
    df_b3_fechamento = df_b3_fechamento.replace(',', '.', regex=True)
    df_b3_variacao = df_b3_variacao.replace(',', '.', regex=True)
    print(df_b3_fechamento)
    #Converter para Float menos a primeira coluna
    df_b3_fechamento.iloc[:, 1:] = df_b3_fechamento.iloc[:, 1:].astype(float)
    df_b3_variacao.iloc[:, 1:] = df_b3_variacao.iloc[:, 1:].astype(float)
    #Printar o tipo das colunas
    print(df_b3_fechamento.dtypes)
    print(df_b3_variacao.dtypes)
    
    return df_b3_fechamento, df_b3_variacao

assets = ['DAP28', 'DI_31','WDO1', 'TREASURY']
quantidades = [2, 1, 1, 1]
compra_especifica = {'DAP28': 5.5, 'TREASURY': 105.5}

dia_compra = {'DAP28': '2025-01-17', 'DI_31': '2025-01-17', 'WDO1':'2025-01-17', 'TREASURY': '2025-01-17'}


def checkar_portifolio(assets, 
                       quantidades, 
                       compra_especifica,  # dict { 'PETR4': 200, 'VALE3': 150 } etc.
                       dia_compra,         # pode ser dict { 'PETR4': '17/01/2025', 'VALE3': '16/01/2025' } ou string única
                       df_b3_fechamento, 
                       df_b3_variacao):
    """
    Verifica (ou cria) um CSV de portfólio e atualiza as posições de acordo com:
      1) Lista de ativos (assets) e suas quantidades (quantidades).
      2) Dicionário de compra_especifica (caso o usuário tenha quantidades específicas para algum ativo).
      3) Dia de compra, que pode ser um único valor ou um dicionário.
      4) Atualiza Preço de Compra, Preço de Ajuste Atual, Variação e Rendimento.
    """
    
    nome_arquivo_portifolio = 'portifolio_posições.csv'
    
    # 1) Carrega portfólio existente (se existir)
    if os.path.exists(nome_arquivo_portifolio):
        df_portifolio = pd.read_csv(nome_arquivo_portifolio, index_col=0)
    else:
        # Podemos criar um DataFrame com colunas definidas para evitar problemas de colunas inexistentes
        df_portifolio = pd.DataFrame(columns=[
            'Quantidade', 
            'Dia de Compra', 
            'Preço de Compra', 
            'Preço de Ajuste Atual', 
            'Variação de Taxa', 
            'Rendimento'
        ])
    
    # 2) Remover do DataFrame os ativos que NÃO estão na nova lista de assets
    #    (significa que o usuário removeu aquele ativo do portfólio)
    ativos_existentes = df_portifolio.index.tolist()
    for ativo_em_port in ativos_existentes:
        if ativo_em_port not in assets:
            df_portifolio.drop(index=ativo_em_port, inplace=True)
    # 3) Adicionar ou atualizar as quantidades dos ativos que estão na nova lista
    #    Se há compra_especifica, ela sobrescreve a quantidade
    #    Também atualizamos o 'Dia de Compra' se fornecido
    for asset, qtd_user in zip(assets, quantidades):
        

        qtd_final = qtd_user
        
        # Verifica se o dia_compra é dict ou valor único
        if isinstance(dia_compra, dict):
            dia_de_compra_atual = dia_compra.get(asset, None)
        else:
            # Se dia_compra for apenas uma string (valor único)
            dia_de_compra_atual = dia_compra
        if asset not in df_portifolio.index:
            # Se não existe, cria linha nova
            df_portifolio.loc[asset, 'Quantidade'] = qtd_final
            df_portifolio.loc[asset, 'Dia de Compra'] = dia_de_compra_atual
        else:
            # Se já existe, apenas atualiza
            df_portifolio.loc[asset, 'Quantidade'] = qtd_final
            # Se dia_compra foi passado como dict e existe valor pra esse ativo, atualiza

            if dia_de_compra_atual is not None:
                df_portifolio.loc[asset, 'Dia de Compra'] = dia_de_compra_atual

    # 4) Para cada ativo no DataFrame final, calculamos
    #    - Preço de Compra (com base em df_b3_fechamento na data de compra)
    #    - Preço de Ajuste Atual (com base em df_b3_fechamento na data de hoje)
    #    - Variação de Taxa (com base em df_b3_variacao na data de compra ou acumulada, depende da necessidade)
    #    - Rendimento (Quantidade * (Preço de Ajuste Atual - Preço de Compra)) ou vice-versa
    
    # Monta a string da data de hoje no mesmo formato das colunas do CSV
    # As colunas do CSV podem estar em formato "dd/mm/yyyy" ou "yyyy-mm-dd", dependendo de como foi salvo
    # Ajuste conforme a forma em que foram salvas:

    ############################## ---- PROBLEMA ---- ##############################
    #  
    data_hoje_str = datetime.date.today().strftime('%Y-%m-%d')

    for asset in df_portifolio.index:
        try:
            # Dia de compra que foi salvo
            dia_compra_ativo = df_portifolio.loc[asset, 'Dia de Compra']
            # (Opcional) se for "yyyy-mm-dd", converter para "dd/mm/yyyy" para casar com o CSV
            # Caso já esteja no formato correto, você pode pular esta conversão.
            # Exemplo (caso precise):
            # dia_compra_dt = datetime.datetime.strptime(dia_compra_ativo, '%Y-%m-%d')
            # dia_compra_ativo = dia_compra_dt.strftime('%d/%m/%Y')

            # PREÇO DE COMPRA
            # Localiza a linha do ativo e depois pega o valor na coluna da data de compra
            filtro_ativo = (df_b3_fechamento['Assets'] == asset)

            # Se o usuário informou um valor de compra_especifica para este ativo, sobrescreve
            if compra_especifica and (asset in compra_especifica):
                preco_compra = compra_especifica[asset]
                print(preco_compra)
            else:
                preco_compra = df_b3_fechamento.loc[filtro_ativo, dia_compra_ativo].values[0]
                print(preco_compra)
                print(df_b3_fechamento.loc[filtro_ativo, dia_compra_ativo].values[0])

            df_portifolio.loc[asset, 'Preço de Compra'] = preco_compra

            


            # PREÇO DE AJUSTE ATUAL
            # Usa a data de hoje (coluna de hoje) no df_b3_fechamento
            preco_ajuste_atual = df_b3_fechamento.loc[filtro_ativo, data_hoje_str].values[0]
            df_portifolio.loc[asset, 'Preço de Ajuste Atual'] = preco_ajuste_atual
            
            # VARIAÇÃO DE TAXA
            # Depende se você quer pegar a variação apenas do dia_compra_ativo ou a variação acumulada.
            # Abaixo apenas um exemplo de pegar a variação no dia de compra (ou outro critério)
            filtro_variacao = (df_b3_variacao['Assets'] == asset)
            variacao_taxa = df_b3_variacao.loc[filtro_variacao, dia_compra_ativo].values[0]
            df_portifolio.loc[asset, 'Variação de Taxa'] = variacao_taxa
            
            # RENDIMENTO
            # De acordo com seu snippet original, mas usualmente seria (Preço Atual - Preço Compra).
            df_portifolio.loc[asset, 'Rendimento'] = (
                df_portifolio.loc[asset, 'Quantidade'] * 
                (df_portifolio.loc[asset, 'Preço de Ajuste Atual'] - df_portifolio.loc[asset, 'Preço de Compra'])
            )
            
        except Exception as e:
            # Caso alguma coluna não seja encontrada ou dê erro, você pode tratar aqui
            print(f"[*] Erro ao calcular valores para o ativo {asset}: {e}")

    
    # 5) Salva o DataFrame atualizado de volta no CSV
    df_portifolio.to_csv(nome_arquivo_portifolio)
    
    return df_portifolio

df_b3_fechamento, df_b3_variacao = processar_b3_portifolio()
df_portifolio = checkar_portifolio(assets, quantidades, compra_especifica, dia_compra, df_b3_fechamento, df_b3_variacao)
df_portifolio

      Assets 2025-01-17
0      DAP25   98711.42
1      DAP26   88827.83
2      DAP27   84345.68
3      DAP28   76566.03
4      DAP29   72600.59
5      DAP30   66220.66
6      DAP32   57058.48
7      DAP33   54408.02
8      DAP35   47170.64
9      DAP40   33203.46
10     DAP45   23449.18
11     DAP50   16156.86
12     DAP55   11593.78
13     DAP60    7955.57
14     DI_26   87508.82
15     DI_27   75941.34
16     DI_28   66059.28
17     DI_29   57656.34
18     DI_30   50287.21
19     DI_31   43811.31
20     DI_32   38199.22
21     DI_33   33425.87
22     DI_34   29350.19
23     DI_35   25734.23
24     DI_36   22648.41
25     DI_37   19940.72
26     DI_38   17601.41
27     DI_39   15197.44
28     DI_40   13274.70
29      WDO1  6081.5680
30  TREASURY   108.6093
Assets        object
2025-01-17    object
dtype: object
Assets        object
2025-01-17    object
dtype: object
5.5
[*] Erro ao calcular valores para o ativo DAP28: '2025-01-20'
43811.31
43811.31
[*] Erro ao calcular valores para o ativo DI_31: '2025-01-20'
6081.568
6081.568
[*] Erro ao calcular valores para o ativo WDO1: '2025-01-20'
105.5
[*] Erro ao calcular valores para o ativo TREASURY: '2025-01-20'

,Quantidade,Dia de Compra,Preço de Compra,Preço de Ajuste Atual,Variação de Taxa,Rendimento
DAP28,2,2025-01-17,5.5,NaN,NaN,NaN
DI_31,1,2025-01-17,43811.31,NaN,NaN,NaN
WDO1,1,2025-01-17,6081.568,NaN,NaN,NaN
TREASURY,1,2025-01-17,105.5,NaN,NaN,NaN

In [ ]:
df_posi = pd.read_csv('portifolio_posições.csv')
df_posi

,Ativo,Quantidade,Dia de Compra,Preço de Compra,Preço de Ajuste Atual,Variação de Taxa,Rendimento
0,DI_26,1,2025-01-19,NaN,87508.820,NaN,NaN
1,DI_28,2,2025-01-19,NaN,66059.280,NaN,NaN
2,DI_30,1,2025-01-19,NaN,50287.210,NaN,NaN
3,DI_32,1,2025-01-19,NaN,38199.220,NaN,NaN
4,DI_26,1,2025-01-17,100.000,87508.820,-49.620,87408.82
5,DI_28,2,2025-01-17,100.000,66059.280,-320.730,131918.56
6,DI_30,1,2025-01-17,100.000,50287.210,-486.210,50187.21
7,DI_32,1,2025-01-17,98.500,38199.220,-611.400,38100.72
8,DI_28,2,2025-01-17,66059.280,66059.280,-320.730,0.00
9,DI_32,1,2025-01-17,38199.220,38199.220,-611.400,0.00
10,DAP25,1,2025-01-17,100.000,98711.420,-33.330,98611.42
11,DAP25,1,2025-01-17,200.000,98711.420,-33.330,98511.42
12,DI_26,2,2025-01-17,87508.820,87508.820,-49.620,0.00
13,DI_28,6,2025-01-17,66059.280,66059.280,-320.730,0.00
14,DI_30,2,2025-01-17,50287.210,50287.210,-486.210,0.00
15,DI_32,3,2025-01-17,38199.220,38199.220,-611.400,0.00
16,WDO1,1,2025-01-17,6081.568,6081.568,37.801,0.00

In [ ]:
df_resumo_port = df_posi.copy()
#Agrupar por Ativo
df_resumo_port = df_resumo_port.groupby('Ativo').sum()
df_resumo_port['Preço de Compra'] = df_resumo_port['Preço de Compra'] / df_resumo_port['Quantidade']

,Quantidade,Dia de Compra,Preço de Compra,Preço de Ajuste Atual,Variação de Taxa,Rendimento
Ativo,,,,,,
DAP25,2,2025-01-172025-01-17,300.000,197422.840,-66.660,197122.84
DI_26,4,2025-01-192025-01-172025-01-17,87608.820,262526.460,-99.240,87408.82
DI_28,12,2025-01-192025-01-172025-01-172025-01-17,132218.560,264237.120,-962.190,131918.56
DI_30,4,2025-01-192025-01-172025-01-17,50387.210,150861.630,-972.420,50187.21
DI_32,6,2025-01-192025-01-172025-01-172025-01-17,76496.940,152796.880,-1834.200,38100.72
WDO1,1,2025-01-17,6081.568,6081.568,37.801,0.00

In [ ]:
df_b3_fechamento

      Assets  2025-01-17
0     DAP_25   98.711,42
1     DAP_26   88.827,83
2     DAP_27   84.345,68
3     DAP_28   76.566,03
4     DAP_29   72.600,59
5     DAP_30   66.220,66
6     DAP_32   57.058,48
7     DAP_33   54.408,02
8     DAP_35   47.170,64
9     DAP_40   33.203,46
10    DAP_45   23.449,18
11    DAP_50   16.156,86
12    DAP_55   11.593,78
13    DAP_60    7.955,57
14     DI_26   87.508,82
15     DI_27   75.941,34
16     DI_28   66.059,28
17     DI_29   57.656,34
18     DI_30   50.287,21
19     DI_31   43.811,31
20     DI_32   38.199,22
21     DI_33   33.425,87
22     DI_34   29.350,19
23     DI_35   25.734,23
24     DI_36   22.648,41
25     DI_37   19.940,72
26     DI_38   17.601,41
27     DI_39   15.197,44
28     DI_40   13.274,70
29      WDO1  6.081,5680
30  TREASURY    108,6093

In [ ]:
df_port = pd.read_csv('portifolio_posições.csv')
df_port

NameError: name 'pd' is not defined

In [ ]:

import os
import pandas as pd
import datetime
import numpy as np

def processar_b3_portifolio():
    """
    Exemplo de função que carrega dois dataframes de CSV:
     - df_preco_de_ajuste_atual.csv : preços de fechamento (colunas de datas)
     - df_variacao.csv : variação diária dos ativos (colunas de datas)
    """
    df_b3_fechamento = pd.read_csv("df_preco_de_ajuste_atual.csv")  
    # df_b3_fechamento possui colunas: ['Ativo', '17/01/2025', '18/01/2025', ...]
    
    df_b3_variacao = pd.read_csv("df_variacao.csv")
    # df_b3_variacao possui colunas: ['Ativo', '17/01/2025', '18/01/2025', ...]
    #Tirar o pontos das casas de milhar
    df_b3_fechamento = df_b3_fechamento.replace('\.', '', regex=True)
    df_b3_variacao = df_b3_variacao.replace('\.', '', regex=True)

    #Trocar Virgula por Ponto
    df_b3_fechamento = df_b3_fechamento.replace(',', '.', regex=True)
    df_b3_variacao = df_b3_variacao.replace(',', '.', regex=True)
    print(df_b3_fechamento)
    #Converter para Float menos a primeira coluna
    df_b3_fechamento.iloc[:, 1:] = df_b3_fechamento.iloc[:, 1:].astype(float)
    df_b3_variacao.iloc[:, 1:] = df_b3_variacao.iloc[:, 1:].astype(float)
    #Printar o tipo das colunas
    print(df_b3_fechamento.dtypes)
    print(df_b3_variacao.dtypes)
    
    return df_b3_fechamento, df_b3_variacao


################ DEIXAR ESSA FUNÇÃO ATUALIZADA COM A LISTA DE ASSETS DEFAUTL DO PORTIFÓLIO E SUAS QUANTIDADES ################
def processar_dados_port():
    df_assets = pd.read_csv("portifolio_posições.csv")
    df_assets.rename(columns={'Unnamed: 0': 'Ativo'}, inplace=True)
    assets_iniciais = df_assets['Ativo'].tolist()
    # Criar uma lista com as quantidades, convertendo para inteiros e ignorando valores nulos
    quantidades_iniciais = (
        df_assets['Quantidade']
        .apply(lambda x: int(x) if x == x else 0)  # Converte para inteiro, garantindo valores válidos
        .tolist()
    )
    #Criar um dicionário com os ativos e suas quantidades
    assets_quantidades = dict(zip(assets_iniciais, quantidades_iniciais))

    return assets_iniciais, assets_quantidades

#NA SEGUNDA PÁGINA TEM QUE CRIAR UM CAMPO PARA O USUÁRIO INSERIR A DATA QUE ELE COMPROU DETERMINADO ATIVO E SE ELE QUER INSERIR UM VALOR DE COMPRA ESPECÍFICO
#ATUALIZAR PRA ESSA LISTA DE QUANTIDADES LER O PORTIFÓLIO_POSIÇÕES E PEGAR AS QUANTIDADES DE LÁ, MAS PERMITIR O USUÁRIO ALTERAR TANTO AS QUANTIDADES QUANTO OS ATIVOS SELECIONADOS. OU SEJA, QUERO QUE OS INPUTS DO USUÁRIO NA TELA PRINCIPAL ATUALIZEM O PORTIFÓLIO_POSIÇÕES
assets = processar_dados_port()
quantidades = {'DAP28': 10, 'TREASURY': 20}
compra_especifica = {'DAP28': 5.5, 'TREASURY': 105.5}
dia_compra = {'DAP28': '2025-01-17', 'DI_31': '2025-01-17', 'WDO1':'2025-01-17', 'TREASURY': '2025-01-17'}


def checkar_portifolio(assets, 
                       quantidades, 
                       compra_especifica,  # dict { 'PETR4': 200, 'VALE3': 150 } etc.
                       dia_compra,         # pode ser dict { 'PETR4': '17/01/2025', 'VALE3': '16/01/2025' } ou string única
                       df_b3_fechamento, 
                       df_b3_variacao):
    """
    Verifica (ou cria) um CSV de portfólio e atualiza as posições de acordo com:
      1) Lista de ativos (assets) e suas quantidades (quantidades).
      2) Dicionário de compra_especifica (caso o usuário tenha quantidades específicas para algum ativo).
      3) Dia de compra, que pode ser um único valor ou um dicionário.
      4) Atualiza Preço de Compra, Preço de Ajuste Atual, Variação e Rendimento.
    """
    
    nome_arquivo_portifolio = 'portifolio_posições.csv'
    
    # 1) Carrega portfólio existente (se existir)
    if os.path.exists(nome_arquivo_portifolio):
        df_portifolio = pd.read_csv(nome_arquivo_portifolio, index_col=0)
    else:
        # Podemos criar um DataFrame com colunas definidas para evitar problemas de colunas inexistentes
        df_portifolio = pd.DataFrame(columns=[
            'Quantidade', 
            'Dia de Compra', 
            'Preço de Compra', 
            'Preço de Ajuste Atual', 
            'Variação de Taxa', 
            'Rendimento'
        ])
    
    # 2) Remover do DataFrame os ativos que NÃO estão na nova lista de assets
    #    (significa que o usuário removeu aquele ativo do portfólio)
    ativos_existentes = df_portifolio.index.tolist()
    for ativo_em_port in ativos_existentes:
        if ativo_em_port not in assets:
            df_portifolio.drop(index=ativo_em_port, inplace=True)
    # 3) Adicionar ou atualizar as quantidades dos ativos que estão na nova lista
    #    Se há compra_especifica, ela sobrescreve a quantidade
    #    Também atualizamos o 'Dia de Compra' se fornecido
    for asset in assets:
        

        qtd_final = quantidades.get(asset, 0)
        
        # Verifica se o dia_compra é dict ou valor único
        if isinstance(dia_compra, dict):
            dia_de_compra_atual = dia_compra.get(asset, None)
        else:
            # Se dia_compra for apenas uma string (valor único)
            dia_de_compra_atual = dia_compra
        if asset not in df_portifolio.index:
            # Se não existe, cria linha nova
            df_portifolio.loc[asset, 'Quantidade'] = qtd_final
            df_portifolio.loc[asset, 'Dia de Compra'] = dia_de_compra_atual
        else:
            # Se já existe, apenas atualiza
            df_portifolio.loc[asset, 'Quantidade'] = qtd_final
            # Se dia_compra foi passado como dict e existe valor pra esse ativo, atualiza

            if dia_de_compra_atual is not None:
                df_portifolio.loc[asset, 'Dia de Compra'] = dia_de_compra_atual

    # 4) Para cada ativo no DataFrame final, calculamos
    #    - Preço de Compra (com base em df_b3_fechamento na data de compra)
    #    - Preço de Ajuste Atual (com base em df_b3_fechamento na data de hoje)
    #    - Variação de Taxa (com base em df_b3_variacao na data de compra ou acumulada, depende da necessidade)
    #    - Rendimento (Quantidade * (Preço de Ajuste Atual - Preço de Compra)) ou vice-versa
    
    # Monta a string da data de hoje no mesmo formato das colunas do CSV
    # As colunas do CSV podem estar em formato "dd/mm/yyyy" ou "yyyy-mm-dd", dependendo de como foi salvo
    # Ajuste conforme a forma em que foram salvas:

    ############################## ---- PROBLEMA ---- ##############################
    #  
    data_hoje_str = datetime.date.today().strftime('%Y-%m-%d')

    for asset in df_portifolio.index:
        try:
            # Dia de compra que foi salvo
            dia_compra_ativo = df_portifolio.loc[asset, 'Dia de Compra']
            # (Opcional) se for "yyyy-mm-dd", converter para "dd/mm/yyyy" para casar com o CSV
            # Caso já esteja no formato correto, você pode pular esta conversão.
            # Exemplo (caso precise):
            # dia_compra_dt = datetime.datetime.strptime(dia_compra_ativo, '%Y-%m-%d')
            # dia_compra_ativo = dia_compra_dt.strftime('%d/%m/%Y')

            # PREÇO DE COMPRA
            # Localiza a linha do ativo e depois pega o valor na coluna da data de compra
            filtro_ativo = (df_b3_fechamento['Assets'] == asset)

            # Se o usuário informou um valor de compra_especifica para este ativo, sobrescreve
            if compra_especifica and (asset in compra_especifica):
                preco_compra = compra_especifica[asset]
                print(preco_compra)
            else:
                preco_compra = df_b3_fechamento.loc[filtro_ativo, dia_compra_ativo].values[0]
                print(preco_compra)
                print(df_b3_fechamento.loc[filtro_ativo, dia_compra_ativo].values[0])

            df_portifolio.loc[asset, 'Preço de Compra'] = preco_compra

            


            # PREÇO DE AJUSTE ATUAL
            # Usa a data de hoje (coluna de hoje) no df_b3_fechamento
            preco_ajuste_atual = df_b3_fechamento.loc[filtro_ativo, data_hoje_str].values[0]
            df_portifolio.loc[asset, 'Preço de Ajuste Atual'] = preco_ajuste_atual
            
            # VARIAÇÃO DE TAXA
            # Depende se você quer pegar a variação apenas do dia_compra_ativo ou a variação acumulada.
            # Abaixo apenas um exemplo de pegar a variação no dia de compra (ou outro critério)
            filtro_variacao = (df_b3_variacao['Assets'] == asset)
            variacao_taxa = df_b3_variacao.loc[filtro_variacao, dia_compra_ativo].values[0]
            df_portifolio.loc[asset, 'Variação de Taxa'] = variacao_taxa
            
            # RENDIMENTO
            # De acordo com seu snippet original, mas usualmente seria (Preço Atual - Preço Compra).
            df_portifolio.loc[asset, 'Rendimento'] = (
                df_portifolio.loc[asset, 'Quantidade'] * 
                (df_portifolio.loc[asset, 'Preço de Ajuste Atual'] - df_portifolio.loc[asset, 'Preço de Compra'])
            )
            
        except Exception as e:
            # Caso alguma coluna não seja encontrada ou dê erro, você pode tratar aqui
            print(f"[*] Erro ao calcular valores para o ativo {asset}: {e}")
    
    # 5) Salva o DataFrame atualizado de volta no CSV
    df_portifolio.to_csv(nome_arquivo_portifolio)
    
    return df_portifolio

df_b3_fechamento, df_b3_variacao = processar_b3_portifolio()
df_portifolio = checkar_portifolio(assets, quantidades, compra_especifica, dia_compra, df_b3_fechamento, df_b3_variacao)
df_portifolio

<>:18: SyntaxWarning: invalid escape sequence '\.'
<>:19: SyntaxWarning: invalid escape sequence '\.'
<>:18: SyntaxWarning: invalid escape sequence '\.'
<>:19: SyntaxWarning: invalid escape sequence '\.'
C:\Users\emanuel.cabral\AppData\Local\Temp\ipykernel_19080\3055066535.py:18: SyntaxWarning: invalid escape sequence '\.'
  df_b3_fechamento = df_b3_fechamento.replace('\.', '', regex=True)
C:\Users\emanuel.cabral\AppData\Local\Temp\ipykernel_19080\3055066535.py:19: SyntaxWarning: invalid escape sequence '\.'
  df_b3_variacao = df_b3_variacao.replace('\.', '', regex=True)
C:\Users\emanuel.cabral\AppData\Local\Temp\ipykernel_19080\3055066535.py:18: SyntaxWarning: invalid escape sequence '\.'
  df_b3_fechamento = df_b3_fechamento.replace('\.', '', regex=True)
C:\Users\emanuel.cabral\AppData\Local\Temp\ipykernel_19080\3055066535.py:19: SyntaxWarning: invalid escape sequence '\.'
  df_b3_variacao = df_b3_variacao.replace('\.', '', regex=True)

      Assets 2025-01-17
0      DAP25   98711.42
1      DAP26   88827.83
2      DAP27   84345.68
3      DAP28   76566.03
4      DAP29   72600.59
5      DAP30   66220.66
6      DAP32   57058.48
7      DAP33   54408.02
8      DAP35   47170.64
9      DAP40   33203.46
10     DAP45   23449.18
11     DAP50   16156.86
12     DAP55   11593.78
13     DAP60    7955.57
14     DI_26   87508.82
15     DI_27   75941.34
16     DI_28   66059.28
17     DI_29   57656.34
18     DI_30   50287.21
19     DI_31   43811.31
20     DI_32   38199.22
21     DI_33   33425.87
22     DI_34   29350.19
23     DI_35   25734.23
24     DI_36   22648.41
25     DI_37   19940.72
26     DI_38   17601.41
27     DI_39   15197.44
28     DI_40   13274.70
29      WDO1  6081.5680
30  TREASURY   108.6093
Assets        object
2025-01-17    object
dtype: object
Assets        object
2025-01-17    object
dtype: object

TypeError: string indices must be integers, not 'list'

In [ ]:
 # Converter para DataFrame
    columns = ['Mercadoria', 'Vencimento', 'Preço de ajuste anterior',
               'Preço de ajuste Atual', 'Variação', 'Valor do ajuste por contrato (R$)']
    df = pd.DataFrame(processed_data, columns=columns)

    #preciso criar um novo nome para mercadoria, vai ser as 3 primeiras letras do nome da mercadoria + as duas ultimas do vencimento
    df['Mercadoria'] = df['Mercadoria'].str[:3] + '_' + df['Vencimento'].str[-2:]

    #Tirar o 1 do nome da DI1
    df.loc[df['Mercadoria'].str.startswith('DI1'), 'Mercadoria'] = 'DI' + '_' + df['Vencimento'].str[-2:]
    #Preciso mudar o nome da mercadoria dol e t10
    df.loc[df['Mercadoria'].str.startswith('DOL_') , 'Mercadoria'] = 'WDO1'
    df.loc[df['Mercadoria'].str.startswith('T10_'), 'Mercadoria'] = 'TREASURY'
    df.drop('Vencimento', axis=1, inplace=True)
    df_preco_fechamento = df.copy()
    df_preco_fechamento.drop(['Preço de ajuste anterior', 'Variação', 'Valor do ajuste por contrato (R$)'], axis=1, inplace=True)
    df_preco_fechamento.rename(columns={'Mercadoria': 'Ativo', 'Preço de ajuste Atual': 'Preço de Fechamento'+ datetime.today()}, inplace=True)