In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st


#Carregar Cotacoes
df = pd.read_excel('Excel/cotações profit_COVAR_MVAR.xlsx',skiprows=6)

#Dividir em 3 dataframes a cada 6 colunas
df_WDO = df.iloc[:,0:6]
df2_ODF31 = df.iloc[:,6:12]
df3_ODF27 = df.iloc[:,12:18]

#Dropar a ultima coluna de cada um
df_WDO.drop(df_WDO.columns[-1],axis=1,inplace=True)
df2_ODF31.drop(df2_ODF31.columns[-1],axis=1,inplace=True)
df3_ODF27.drop(df3_ODF27.columns[-1],axis=1,inplace=True)

df_WDO

           Date    Close       VP  LN(Pt/Pt-1)    Var
0    2024-12-13  6073.50  60735.0     0.014762  890.0
1    2024-12-12  5984.50  59845.0     0.003264  195.0
2    2024-12-11  5965.00  59650.0    -0.015388 -925.0
3    2024-12-10  6057.50  60575.0    -0.005679 -345.0
4    2024-12-09  6092.00  60920.0    -0.001558  -95.0
...         ...      ...      ...          ...    ...
4845 2005-05-23  9639.15  96391.5          NaN    NaN
4846 2005-05-20  9710.46  97104.6          NaN    NaN
4847 2005-05-19  9726.31  97263.1          NaN    NaN
4848 2005-05-18  9785.74  97857.4          NaN    NaN
4849 2005-05-17  9880.82  98808.2          NaN    NaN

[4850 rows x 5 columns]

In [88]:
df_WDO.drop('Close',axis=1,inplace=True)
#Inverter a ordem das linhas
df_WDO = df_WDO.iloc[::-1]
df_WDO

           Date       VP  LN(Pt/Pt-1)    Var
4849 2005-05-17  98808.2          NaN    NaN
4848 2005-05-18  97857.4          NaN    NaN
4847 2005-05-19  97263.1          NaN    NaN
4846 2005-05-20  97104.6          NaN    NaN
4845 2005-05-23  96391.5          NaN    NaN
...         ...      ...          ...    ...
4    2024-12-09  60920.0    -0.001558  -95.0
3    2024-12-10  60575.0    -0.005679 -345.0
2    2024-12-11  59650.0    -0.015388 -925.0
1    2024-12-12  59845.0     0.003264  195.0
0    2024-12-13  60735.0     0.014762  890.0

[4850 rows x 4 columns]

In [89]:
#Dropar as linhas que tem NaN

df_WDO.dropna(inplace=True)
df_WDO

/var/folders/11/lm50x6ys7ng_15t73h0j41fm0000gn/T/ipykernel_78599/1207385254.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_WDO.dropna(inplace=True)

           Date       VP  LN(Pt/Pt-1)    Var
1233 2020-01-06  49498.4     0.001231   60.9
1232 2020-01-07  49583.6     0.001720   85.2
1231 2020-01-08  49516.6    -0.001352  -67.0
1230 2020-01-09  49875.6     0.007224  359.0
1229 2020-01-10  49906.0     0.000609   30.4
...         ...      ...          ...    ...
4    2024-12-09  60920.0    -0.001558  -95.0
3    2024-12-10  60575.0    -0.005679 -345.0
2    2024-12-11  59650.0    -0.015388 -925.0
1    2024-12-12  59845.0     0.003264  195.0
0    2024-12-13  60735.0     0.014762  890.0

[1234 rows x 4 columns]

In [90]:
df_WDO['Retorno'] = df_WDO['VP'].pct_change()
df_WDO

/var/folders/11/lm50x6ys7ng_15t73h0j41fm0000gn/T/ipykernel_78599/353324485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_WDO['Retorno'] = df_WDO['VP'].pct_change()

           Date       VP  LN(Pt/Pt-1)    Var   Retorno
1233 2020-01-06  49498.4     0.001231   60.9       NaN
1232 2020-01-07  49583.6     0.001720   85.2  0.001721
1231 2020-01-08  49516.6    -0.001352  -67.0 -0.001351
1230 2020-01-09  49875.6     0.007224  359.0  0.007250
1229 2020-01-10  49906.0     0.000609   30.4  0.000610
...         ...      ...          ...    ...       ...
4    2024-12-09  60920.0    -0.001558  -95.0 -0.001557
3    2024-12-10  60575.0    -0.005679 -345.0 -0.005663
2    2024-12-11  59650.0    -0.015388 -925.0 -0.015270
1    2024-12-12  59845.0     0.003264  195.0  0.003269
0    2024-12-13  60735.0     0.014762  890.0  0.014872

[1234 rows x 5 columns]

In [91]:
var = df_WDO['Retorno'].quantile(0.05)
var

-0.016598029102907398

In [92]:
vol = df_WDO['Retorno'].std()
vol

0.010513483958511916

In [93]:
# Anualizando a volatilidade
vol = vol*np.sqrt(252)
vol

0.16689638380253669

In [94]:
#PEGAR A COTAÇÃO DO DIA E MULTIPLICAR PELO VAR
cotacao = df_WDO['VP'].iloc[-1]
cotacao

60735.0

In [95]:
var_dinheiro = cotacao*var
var_dinheiro

-1008.0812975650808

In [96]:
#########################
# 3) CONFIGURAÇÕES LADO
#########################
var = 0.10
var = var * 0.01
var

0.001

In [97]:
#Colocar em porcentagem
var = var * 100

In [98]:
assets = ['WDO1', 'IBOV', 'TREASURY', 'S&P']

In [99]:
def process_portfolio(file_path,weights):
    df_pl = pd.read_csv(file_path, index_col=0)
    df_pl['PL'] = (
        df_pl['PL']
        .str.replace('R$', '', regex=False)
        .str.replace('.', '', regex=False)
        .str.replace(',', '.', regex=False)
        .replace('--', np.nan)
        .astype(float)
    )
    df_pl = df_pl.iloc[[5, 9, 10, 11, 17, 18, 19, 20, 22]]
    df_pl['weights'] = weights
    df_pl['weights'] = df_pl['weights'].astype(float)
    df_pl['PL_atualizado'] = df_pl['PL'] * df_pl['weights']
    df_pl['Adm'] = ['SANTANDER', 'BTG', 'SANTANDER',
                    'SANTANDER', 'BTG', 'BTG', 'BTG', 'BTG', 'BTG']
    return df_pl, df_pl['PL_atualizado'].sum()

#Temos 9 fundos no total
dict_pesos = {'Global Bonds' : 2, 'HORIZONTE' : 0.5, 'JERA2026' : 1, 'REAL FIM' : 1, 'BH FIRF INFRA' : 1, 'BORDEAUX INFRA' : 1, 'TOPAZIO' : 1, 'MANACA INFRA FIRF' : 1, 'AF DEB INCENTIVADA' : 1}
weights = dict_pesos.values()
file_path = 'pl_fundos.csv'

df_pl, soma_pl = process_portfolio(file_path,weights)
df_pl

   Fundos/Carteiras Adm           PL  weights  PL_atualizado        Adm
5          GLOBAL BONDS   29796115.0      2.0     59592230.0  SANTANDER
9             HORIZONTE  240930319.0      0.5    120465159.5        BTG
10             JERA2026  191147694.0      1.0    191147694.0  SANTANDER
11             REAL FIM   36463215.0      1.0     36463215.0  SANTANDER
17        BH FIRF INFRA   77314727.0      1.0     77314727.0        BTG
18       BORDEAUX INFRA   45417246.0      1.0     45417246.0        BTG
19        TOPAZIO INFRA   30777380.0      1.0     30777380.0        BTG
20    MANACA INFRA FIRF   40334603.0      1.0     40334603.0        BTG
22  AF DEB INCENTIVADAS   11563897.0      1.0     11563897.0        BTG

In [100]:
file_path = 'BBG - ECO DASH.xlsx'
def load_and_process_excel(file_path, assets_sel):
    df = pd.read_excel(file_path, sheet_name='BZ RATES',
                       skiprows=1, thousands='.', decimal=',')
    df.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
            'ODF25 Comdty'], axis=1, inplace=True)
    df.rename(columns={'Unnamed: 4': 'Date',
                       'ODF25 Comdty.1': 'ODF25 Comdty'}, inplace=True)
    df = df.drop([0])  # Remover a primeira linha
    df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
    df.drop(['OI1 Comdty', 'WSP1 Index'], axis=1, inplace=True)
    df.columns = [
        'Date', 'DI_25', 'DI_26', 'DI_27', 'DI_28', 'DI_29', 'DI_30',
        'DI_31', 'DI_32', 'DI_33', 'DI_35', 'DAP25', 'DAP26', 'DAP27',
        'DAP28', 'DAP30', 'DAP32', 'DAP35', 'DAP40', 'WDO1', 'IBOV',
        'TREASURY', 'S&P'
    ]
    df_precos = df.tail(1)[assets_sel]
    return df_precos,df

df_precos,df = load_and_process_excel(file_path, assets)
df_precos

       WDO1    IBOV       TREASURY           S&P
1801  60570  124690  665452.292061  91759.764375

In [101]:
df

,Date,DI_25,DI_26,DI_27,DI_28,DI_29,DI_30,DI_31,DI_32,DI_33,...,DAP27,DAP28,DAP30,DAP32,DAP35,DAP40,WDO1,IBOV,TREASURY,S&P
1,2020-01-09,73581.04,68474.64,63599.49,59096.78,54839.65,50909.64,46957.02,NaN,NaN,...,NaN,101682.243836,93324.060052,NaN,77072.252454,NaN,40906.6,116359,527247.621796,33502.505400
2,2020-01-10,73599.1,68415.38,63574.56,59046.46,54762.84,50829.18,46874.38,NaN,NaN,...,NaN,102002.471272,93558.901081,NaN,77301.926073,NaN,40848.27,115726,527261.707989,33339.847371
3,2020-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020-01-13,73411.89,68184.79,63302.33,58712.25,54368.13,50421.39,46459.98,NaN,NaN,...,NaN,101566.904986,93244.27348,NaN,76789.985105,NaN,41448.52,117775,534361.780574,34088.817167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1797,2024-12-09,99286.81,86554.05,75092.58,65509.72,57526.86,50592.06,44522.72,39201.1,34522.84,...,147406.388799,134657.450943,118271.247017,103382.756246,86801.798639,61838.510257,60927.63,127472,677343.429683,92381.518987
1798,2024-12-10,99329.81,86734.68,75535.85,66171.4,58340.9,51497.3,45471.2,40198.76,35541.49,...,147838.9669,135225.199367,118885.727184,104168.80608,87769.864032,63022.543284,60713.63,128477,673921.293000,91768.651745
1799,2024-12-11,99371.93,86876.33,75848.35,66550.87,58772.19,51933.5,45914.56,40635.52,35962.9,...,148445.980787,136047.943681,120256.485053,105538.944951,89224.781369,64459.752271,60266.89,129846,667079.138688,91827.906957
1800,2024-12-12,99410.12,86605.82,75587.11,66378.07,58637.59,51807.74,45790.52,40553.64,35872.25,...,147232.753088,134826.396993,119306.830562,104466.374272,88149.754262,63601.126356,60399,126175,666653.962500,91546.009312
1801,2024-12-13,99455.37,86466.36,75144.74,65676.73,57751.24,50852.07,44798.57,39552.51,34890.43,...,146914.845748,134210.212167,118429.396077,103627.971964,87427.026176,63723.552452,60570,124690,665452.292061,91759.764375

In [102]:
def process_returns(df,assets):
    df_retorno = df.copy()
    for col in df_retorno.columns[1:]:
        df_retorno[col] = df[col].pct_change()
    
    df_retorno.dropna(inplace=True)
    df_retorno = df_retorno.tail(252)
    df_retorno = df_retorno.reset_index(drop=True)
    df_retorno = df_retorno[assets]
    return df_retorno
df_retorno = process_returns(df,assets)
df_retorno

/var/folders/11/lm50x6ys7ng_15t73h0j41fm0000gn/T/ipykernel_78599/1975933259.py:4: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_retorno[col] = df[col].pct_change()
/var/folders/11/lm50x6ys7ng_15t73h0j41fm0000gn/T/ipykernel_78599/1975933259.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_retorno[col] = df[col].pct_change()

         WDO1      IBOV  TREASURY       S&P
0    0.000000  0.000000  0.000000  0.000000
1    0.000000  0.000000  0.000000  0.000000
2   -0.008185  0.016799 -0.011718 -0.008374
3   -0.004761  0.007808 -0.001346 -0.004288
4    0.014635 -0.015679  0.001332  0.006094
..        ...       ...       ...       ...
247 -0.001673  0.011185 -0.004192 -0.007482
248 -0.003512  0.007884 -0.005052 -0.006634
249 -0.007358  0.010656 -0.010153  0.000646
250  0.002192 -0.028272 -0.000637 -0.003070
251  0.002831 -0.011769 -0.001803  0.002335

[252 rows x 4 columns]

In [103]:
def var_not_parametric(data, alpha=0.05):
    return data.quantile(alpha)

In [104]:
def adjust_prices_with_var(df_precos, var_ativos):
    df_precos = df_precos.T
    df_precos.columns = ['Valor Fechamento']
    df_precos['Valor Fechamento Ajustado pelo Var'] = df_precos['Valor Fechamento'] * \
        var_ativos.values
    return df_precos

In [105]:
var_ativos = var_not_parametric(df_retorno)
df_precos = adjust_prices_with_var(df_precos, var_ativos)
df_precos

         Valor Fechamento Valor Fechamento Ajustado pelo Var
WDO1                60570                        -652.791738
IBOV               124690                       -1649.589364
TREASURY    665452.292061                         -7296.9641
S&P          91759.764375                       -1109.345014

In [106]:
# columns = ['DI_25', 'DI_26', 'DI_27', 'DI_28', 'DI_29', 'DI_30', 'DI_31', 'DI_32', 'DI_33', 'DI_35' 'DAP25', 'DAP26', 'DAP27', 'DAP28', 'DAP30', 'DAP32', 'DAP35', 'DAP40', 'WDO1', 'IBOV', 'TREASURY', 'S&P']
quantidade = [10,20,-5,9]

In [107]:
#Somar o valor de fechamento multiplicado pela quantidade
vp = df_precos['Valor Fechamento'] * quantidade
vp_soma = vp.sum()
vp_soma

598076.4190707398

In [108]:
#Peso de cada ativo é a quantidade vezes seu valor de fechamento dividido pelo valor total
pesos = quantidade * df_precos['Valor Fechamento'] / vp_soma
pesos

WDO1        1.012747
IBOV        4.169701
TREASURY   -5.563271
S&P         1.380823
Name: Valor Fechamento, dtype: object

In [109]:
df_returns_portifolio = df_retorno * pesos
df_returns_portifolio['Portifolio'] = df_returns_portifolio.sum(axis=1)
df_returns_portifolio

         WDO1      IBOV  TREASURY       S&P Portifolio
0         0.0       0.0      -0.0       0.0        0.0
1         0.0       0.0      -0.0       0.0        0.0
2    -0.00829  0.070046  0.065191 -0.011563   0.115384
3   -0.004822  0.032557  0.007486  -0.00592     0.0293
4    0.014822 -0.065377 -0.007413  0.008415  -0.049553
..        ...       ...       ...       ...        ...
247 -0.001694  0.046638  0.023323 -0.010331   0.057936
248 -0.003557  0.032874  0.028107 -0.009161   0.048264
249 -0.007452  0.044431  0.056483  0.000892   0.094353
250   0.00222 -0.117886  0.003546 -0.004239  -0.116359
251  0.002867 -0.049075  0.010028  0.003224  -0.032955

[252 rows x 5 columns]

In [110]:
var_port = var_not_parametric(df_returns_portifolio['Portifolio'])
var_port

-0.0921552641592413

In [111]:
var_port_dinheiro = vp_soma * var_port
var_port_dinheiro

-55115.89038687712

In [112]:
vol_port_retornos = df_returns_portifolio['Portifolio'].std()
vol_port_retornos

0.04905194776266543

In [113]:
#Calculando a matriz de correlação dos ativos
cov = df_returns_portifolio.cov()
cov

                WDO1      IBOV  TREASURY       S&P  Portifolio
WDO1        0.000045 -0.000105 -0.000233  0.000043   -0.000249
IBOV       -0.000105  0.000884  0.000515 -0.000069    0.001225
TREASURY   -0.000233  0.000515  0.001490 -0.000218    0.001555
S&P         0.000043 -0.000069 -0.000218  0.000119   -0.000125
Portifolio -0.000249  0.001225  0.001555 -0.000125    0.002406

In [114]:
#Analisar a cov de cada ativo com o retorno do portifólio
cov_port = df_returns_portifolio.cov()
cov_port = cov_port['Portifolio']
cov_port.drop('Portifolio',inplace=True)
cov_port

WDO1       -0.000249
IBOV        0.001225
TREASURY    0.001555
S&P        -0.000125
Name: Portifolio, dtype: float64

In [115]:
#Adicionar o Beta de cada ativo
df_beta = cov_port/(vol_port_retornos**2)
df_beta

WDO1       -0.103569
IBOV        0.509214
TREASURY    0.646365
S&P        -0.052009
Name: Portifolio, dtype: float64

In [116]:
pesos

WDO1        1.012747
IBOV        4.169701
TREASURY   -5.563271
S&P         1.380823
Name: Valor Fechamento, dtype: object

In [117]:
teste = df_beta * pesos
teste.sum()

-1.649340240128325

In [118]:
var_port

-0.0921552641592413

In [119]:
#Calcular o Mvar de cada ativo
df_mvar = df_beta * var_port
df_mvar

WDO1        0.009544
IBOV       -0.046927
TREASURY   -0.059566
S&P         0.004793
Name: Portifolio, dtype: float64

In [120]:
vp

WDO1                605700
IBOV               2493800
TREASURY   -3327261.460304
S&P          825837.879375
Name: Valor Fechamento, dtype: object

In [121]:
df_mvar_dinheiro = df_mvar * vp
df_mvar_dinheiro

WDO1          5781.085694
IBOV       -117025.834412
TREASURY    198191.436699
S&P           3958.167904
dtype: object

In [122]:
covar = df_mvar * pesos * vp_soma
covar

WDO1          5781.085694
IBOV       -117025.834412
TREASURY    198191.436699
S&P           3958.167904
dtype: object

In [123]:
covar.sum()

90904.85588557836

In [124]:
covar_perc = covar / covar.sum()
covar_perc

WDO1        0.063595
IBOV       -1.287344
TREASURY    2.180207
S&P         0.043542
dtype: object

In [125]:
covar_perc.sum()

0.9999999999999999

In [126]:
# Criar o processamento delas em um portfolio
def risk_and_var_portifolio(df_retorno, df_precos, assets, var):
    valor_presente = df_precos['Valor Fechamento']

    return df_precos

In [127]:
#tentativa de fazer o reverso
input_covar = [0.5,0.5,0,0]
input_var = 0.5

var_disp_port = input_var * var_port_dinheiro
var_disp_port

-27557.94519343856

In [128]:
#Calcular o Mvar de cada ativo
input_covar = np.array(input_covar)  # Certifique-se de que é um array NumPy
covar_inverso = input_covar * var_disp_port
covar_inverso

array([-13778.97259672, -13778.97259672,     -0.        ,     -0.        ])

In [129]:
dem = covar_inverso.sum() 
covar_ajust = covar_inverso / dem